<span></span><br>
<span></span><br>
<span></span><br>
<span></span><br>
<div class="app-body card mx-5 py-5" >
  <main class="main d-flex align-items-center">
    <div class="container">
        <div class="card-text text-center">
            <a href="/"><h1>YESB-INSPIRE</h1></a>
            <div class="card-title">
                <h2>Enregistrez-vous  dans votre secteur d'activite</h2>
                <p><span>Vous etes deja enregistrer?</span>&nbsp;<a href="/connexion" class="text-underline">Connectez-vous <i class="fa fa-long-arrow-right"></i> </a></p>
            </div>
            
        </div>
      <div class="row">
        <div class="col-md-6 col-lg-8 mx-auto">
          <div class="card d-flex align-items-center mx-4">
            <div class="card-body my-2 p-4">
                  <a class="btn btn-outline-warning" href="/ecommerce/register/entreprener" ><h3>S'enregistrer en tant que Entrepreneur/Fournisseur de service</h3>&nbsp;<i class="fa fa-long-arrow-right"></i></a>
            </div>
            
            <div class="card-body my-2 p-4">
                <a class="btn btn-outline-warning" href="/ecommerce/register/coaching" ><h3>S'enregistrer en tant que Encadreur ou Coach</h3>&nbsp;<i class="fa fa-long-arrow-right"></i></a>
            </div>
            <div class="card-body my-2 p-4">
                <a class="btn btn-outline-warning" href="/ecommerce/register/investisseur" ><h3>S'enregistrer en tant que Investisseur</h3>&nbsp;<i class="fa fa-long-arrow-right"></i></a>
            </div>
            <div class="card-body my-2 p-4">
                <a class="btn btn-outline-warning" href="/ecommerce/register/client" ><h3>S'enregistrer en tant que Client</h3>&nbsp;<i class="fa fa-long-arrow-right"></i></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<span></span><br>
<span></span><br>
<span></span><br>
<span></span><br>
