<app-admin-sidebar></app-admin-sidebar>
<div class="main-content">
  <!-- Top navbar -->
  <app-admin-navbar></app-admin-navbar>
  <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h1 class="display-2 text-white">{{user?.username | uppercase}}</h1>
          <p class="text-white mt-0 mb-5">Il s'agit de votre page de profil. Vous pouvez voir vos informations et les modifier</p>

        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                </a>
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-between">
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <div class="col">
                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                  <div>

                  </div>
                  <div>

                  </div>
                  <div>

                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <h3>
                {{user?.fullName | uppercase}} - {{user?.username | uppercase}}
              </h3>
              <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>{{user?.email}}
              </div>
              <div class="h5 mt-4">
                <i class="ni business_briefcase-24 mr-2"></i>{{user?.location}}
              </div>
              <div>
                <i class="ni education_hat mr-2"></i>{{user?.secteurActivite}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-8 order-xl-1">
        <button class="btn btn-primary" (click)="setAccount(contentUpdate, user)">Modifier vos informations</button>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <app-admin-footer></app-admin-footer>
  </div>
</div>


<!-- TOAST MESSAGE TEMPLATE -->
<p-toast position="top-right"></p-toast>
<p-toast position="bottom-center" key="c" (onClose)="onReject()" >
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6">
          <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
        </div>
        <div class="p-col-6">
          <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<!-- MODAL  FORM FOR UPDATE PROFIL -->

<ng-template #contentUpdate let-modal>
  <div class="modal-header" style="background-color:#F45B3A !important;">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="updateProfileForm" (submit)="onSubmit()">
      <h6 class="heading-small text-muted mb-4">Informations sur l'utilisateur</h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-username">Pseudo</label>
              <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" formControlName="username">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-email">Adresse Email </label>
              <input type="email" id="input-email" class="form-control form-control-alternative" formControlName="email">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-first-name">Nom</label>
              <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="First name" formControlName="fullName">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-last-name">Date de Naissance</label>
              <input type="date" id="input-last-name" class="form-control form-control-alternative" formControlName="birthDate">
            </div>
          </div>
        </div>
      </div>
      <hr class="my-4" />
      <!-- Address -->
      <h6 class="heading-small text-muted mb-4">Informations de contact</h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-control-label" >Adresse</label>
              <select name="province"  class="form-control"  formControlName="location">
                <option value="" disabled>-- Choisissez une representation --</option>
                <option value="" disabled>-- Liste des Provinces --</option>
                <option *ngFor="let item of provinces" value="{{item}}">{{item}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label">Secteur d'activité</label>
              <select name="province"  class="form-control"  formControlName="secteurActivite">
                <option value="" disabled>-- Choisissez une activite --</option>
                <option value="" disabled>-- Liste des activites --</option>
                <option *ngFor="let item of activites" value="{{item}}">{{item}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-country">Téléphone</label>
              <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="téléphone" formControlName="phone">
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <button type="submit" (click)="modal.close('Close click')"  class="btn btn-sm btn-primary">Sauvegader</button>
      </div>
    </form>
  </div>
</ng-template>
