<app-header></app-header>

<div>
  <!--================Home Banner Area =================-->
  <section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div
          class="banner_content d-md-flex justify-content-between align-items-center"
        >
          <div class="mb-3 mb-md-0">
            <h2>Detail d'un projet demandeur de credit</h2>
            <p>Vous pouvez financer ce projet</p>
          </div>
          <div class="page_link">
            <a href="/">Accueil</a>
            <a href="/ecommerce/microfinance/detail/{{currentMicroFinance.id}}">Detail du projet</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Home Banner Area =================-->

</div>


<main class="card">
  <div class="row no-gutters">
    <aside class="col-sm-6 border-right">
      <article class="gallery-wrap">
        <div class="img-big-wrap">
          <div> <a href="https://via.placeholder.com/300x350.png" data-fancybox=""><img src="https://via.placeholder.com/300x350.png"></a></div>
        </div> <!-- slider-product.// -->
         <!-- slider-nav.// -->
      </article> <!-- gallery-wrap .end// -->
    </aside>
    <aside class="col-sm-6">
      <article class="card-body">
        <!-- short-info-wrap -->
        <h3 class="title mb-3">{{currentMicroFinance?.object}}</h3>

        <div class="mb-3">
          <var class="price h3 text-price">
            <span class="currency">{{currentMicroFinance?.devise}} </span><span class="num"> {{currentMicroFinance?.amount}}</span>
          </var>
        </div> <!-- price-detail-wrap .// -->
        <dl>
          <dt>Secteur d'activité</dt>
          <dd><p>{{currentMicroFinance?.sector}} </p></dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Zone</dt>
          <dd class="col-sm-9">{{currentMicroFinance?.region}}</dd>

          <dt class="col-sm-3">Support du projet</dt>
          <dd class="col-sm-9"><a href="{{currentMicroFinance?.projectSupport}}">Voir le support</a></dd>

        </dl>
        <hr>
        <hr>
        <a  class="btn  btn-primary"  href="/ecommerce/register/invester">Aller au formulaire de souscription</a>
        <br>
        <ul class="row rating">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>

        <!-- short-info-wrap .// -->
      </article> <!-- card-body.// -->
    </aside> <!-- col.// -->
  </div> <!-- row.// -->
</main> <!-- card.// -->

<!--<section class=" section home">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h2 class="text-center">Donner votre avis</h2>
        <div class="card mx-4">
          <div class="card-body p-4">
            <form [formGroup]="temoignageForm" (submit)="saveTemoignage()">
              <div class="form-group">
                <label class="text-muted">Email</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="pi pi-envelope "></i></span>
                  </div>
                  <input type="email" class="form-control" formControlName="email" />
                </div>
              </div>

              <div class="form-group">
                <label class="text-muted">Message</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                  </div>
                  <textarea type="text"  rows="5" cols="55" formControlName="message">
                  </textarea >
                </div>
              </div>

              <button type="submit" class="btn btn-block btn-success" >Valider</button>
            </form>
          </div>

        </div>
      </div>
    </div>

  </div>

</section>-->
<app-footer></app-footer>


<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>

<!-- TOAST MESSAGE TEMPLATE -->
<p-toast position="top-right"></p-toast>
<p-toast position="bottom-center" key="c" (onClose)="onReject()" >
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6">
          <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
        </div>
        <div class="p-col-6">
          <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
