<app-header></app-header>

<div>
  <!--================Home Banner Area =================-->
  <section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div
          class="banner_content d-md-flex justify-content-between align-items-center"
        >
          <div class="mb-3 mb-md-0">
            <h2>Detail d'un projet demandeur de credit</h2>
            <p>Vous pouvez financer ce projet</p>
          </div>
          <div class="page_link">
            <a href="/">Accueil</a>
            <a href="/ecommerce/microfinance/detail/{{currentMicroFinance.id}}">Detail du projet</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Home Banner Area =================-->

</div>


<main class="card">
  <div class="row no-gutters">
    <aside class="col-sm-6 border-right">
      <article class="gallery-wrap">
        <div class="img-big-wrap">
          <div> <a href="https://via.placeholder.com/300x350.png" data-fancybox=""><img src="https://via.placeholder.com/300x350.png"></a></div>
        </div> <!-- slider-product.// -->
         <!-- slider-nav.// -->
      </article> <!-- gallery-wrap .end// -->
    </aside>
    <aside class="col-sm-6">
      <article class="card-body">
        <!-- short-info-wrap -->
        <h3 class="title mb-3">{{currentMicroFinance?.object}}</h3>

        <div class="mb-3">
          <var class="price h3 text-price">
            <span class="currency">{{currentMicroFinance?.devise}} </span><span class="num"> {{currentMicroFinance?.amount}}</span>
          </var>
        </div> <!-- price-detail-wrap .// -->
        <dl>
          <dt>Secteur d'activité</dt>
          <dd><p>{{currentMicroFinance?.sector}} </p></dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Zone</dt>
          <dd class="col-sm-9">{{currentMicroFinance?.region}}</dd>

          <dt class="col-sm-3">Support du projet</dt>
          <dd class="col-sm-9"><a href="{{currentMicroFinance?.projectSupport}}">Voir le support</a></dd>

        </dl>
        <hr>
        <hr>
        <a  class="btn  btn-primary"  href="/ecommerce/register/invester">Aller au formulaire de souscription</a>
        <button class="btn btn-warning">
          <a href="abonnement" class="header">Abonnez-vous ici</a>
        </button>

        <!-- short-info-wrap .// -->
      </article> <!-- card-body.// -->
    </aside> <!-- col.// -->
  </div> <!-- row.// -->
</main> <!-- card.// -->
<app-footer></app-footer>

