<div class="container">
    <div class="p-5 my-5 border">
        <div class="card-header alert alert-info">
            <h1>Felicitation et Bienvenue dans YESB-INSPIRE</h1>
            <h3><span>La plateforme qui repond a toute votre curiosite sur comment reussir, ses activites</span></h3>
        </div>
        <div class="card alert alert-default">
            <p>Votre compte a ete creer avec succes, vous faite partir de la plateforme YESB-INSPIRE, 
                connectez-vous a votre compte.
            </p>
            <a href="/connexion" class="btn btn-default">Connexion &nbsp;<i class="fa fa-long-arrow-right"></i></a>
        </div>
    </div>
</div>
