<app-admin-sidebar></app-admin-sidebar>
<div class="main-content">
  <app-admin-navbar></app-admin-navbar>
  <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <h2>Gestion des Services de coaching et/ou encadrement</h2>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0" style="background-color:#F45B3A;">
            <div class="col-md-6">
              <button (click)="openModalAddCompany(contentAdd)" pButton icon="fa fa-plus" style="float:left;background-color:#F7941D !important;" label="Nouveau service de coaching"></button>
            </div>
            <div class="col-md-6 pull-right" style="width: 40%">
              <label >Recherche <i class="fa fa-search"></i></label>
              <input type="text" class="form-control" [(ngModel)]="searchItem">
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col">Titre</th>
                <th  scope="col">Telephone</th>
                <th scope="col">Region</th>
                <th scope="col">Date</th>
                <th scope="col">Montant</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of lists | filter:searchItem | paginate: {itemsPerPage: 10, currentPage: p}">
                <td>{{item.title}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.region}}</td>
                <td>{{item.startDate}}</td>
                <td> {{item.amount+' Fb'}} </td>
                <td>
                 <button  class="btn btn-success m-1" (click)="getCoaching(item.id)"><i class="pi pi-eye"></i></button>
                  <button (click)="setCoaching(contentUpdate, item)" class="btn btn-secondary m-1"><i class="pi pi-pencil"></i></button>
                  <button  (click)="deleteCoaching(contentDelete, item)" class="btn btn-danger m-1"><i class="pi pi-trash"></i></button>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">

            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- TOAST MESSAGE TEMPLATE -->
<p-toast position="top-right"></p-toast>
<p-toast position="bottom-center" key="c" (onClose)="onReject()" >
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6">
          <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
        </div>
        <div class="p-col-6">
          <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>




<!-- MODAL  FORM FOR ADD COACHING -->

<ng-template #contentAdd let-modal>
  <div class="modal-header" style="background-color:#F45B3A;">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #formCoaching="ngForm" (ngSubmit)="saveCoaching(formCoaching.value)">
      <h2>Formulaire d'ajout d'un service de coaching/encadrement</h2>
        <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Titre</label>
                <input type="text" class="form-control"required name="title" placeholder="titre du service" ngModel>
              </div>

              <div class="form-group">
                <label>Numéro téléphone</label>
                <input type="text" class="form-control"required name="phone" placeholder="numéro de téléphone" ngModel>
              </div>
              <div class="form-group">
                <label>Region</label>
                <input type="text" class="form-control"  required name="region" placeholder="Entrer votre region" ngModel>
              </div>

              <div class="form-group">
                <label>Email contact</label>
                <input type="email" class="form-control"  required name="email" placeholder="Entrer l'adresse email contact" ngModel>
              </div>

              <div class="form-group">
                <label>Email de l'utilisateur qui enregistre</label>
                <input type="email" class="form-control"  required name="userEmail" placeholder="Entrer l'adresse email de l'utilisateur qui enregistre" ngModel>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Montant du service</label>
                <input type="number" class="form-control"  required name="amount" placeholder="Entrer le montnant de cette prestation" ngModel>
              </div>
              <div class="form-group">
                <label>Date de deroulement</label>
                <input type="date" class="form-control"  required name="startDate" placeholder="Date de debut du service de coaching et/ou encadrement" ngModel>
              </div>
              <div class="form-group">
                <label>Description</label>
                <textarea  rows="6" class="form-control" placeholder="description" name="description" ngModel></textarea>
              </div>
              <div class="form-group">
                <label>Image de couverture</label>
                <input type="file" class="form-control"  name="logo" (change)="onFilesSelect($event)"  placeholder="Image de profile" ngModel>
              </div>
            </div>
        </div>

        <br>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn-secondary" style="width: 100%" (click)="modal.close('Close click')"><i class="fa fa-long-arrow-left"></i>&nbsp;Retour</button>
            </div>
            <div class="col-md-6">
              <button type="submit"  (click)="modal.close('Close click')" class="btn btn-success" style="background-color:#F5B669 !important;width: 100%">Enregistrer <i class="fa fa-check"></i></button>
            </div>
          </div>
        </div>
      </form>
  </div>
</ng-template>

<!-- Modal FORM FOR ADD COACHING SESSION -->
<ng-template #addSession let-modal>
  <div class="modal-header" style="background-color:#F45B3A;">
    Ajouter une session
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addCoachingSessionFurmGroup" (submit)="saveCoachingSession()">
      <div class="form-group">
        <label>Titre</label>
        <input type="text" class="form-control"required formControlName="label" placeholder="titre de la session" >
      </div>
      <div class="form-group">
        <label>Date de début</label>
        <input type="date" class="form-control"required formControlName="label" placeholder="titre du service" >
      </div>
      <div class="form-group">
        <label>Date de fin</label>
        <input type="date" class="form-control"required formControlName="label" placeholder="titre du service" >
      </div>
      <div>
        <button type="submit"  (click)="modal.close('Close click')" class="btn btn-success" style="background-color:#F5B669 !important;width: 100%">Enregistrer <i class="fa fa-check"></i></button>
      </div>
    </form>
  </div>
</ng-template>
<!-- END Modal FORM FOR ADD COACHING SESSION -->

<!-- MODAL  FORM FOR UPDATE COACHING -->

<ng-template #contentUpdate let-modal>
  <div class="modal-header" style="background-color:#F45B3A;">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form   (ngSubmit)="updateCoaching()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Titre</label>
              <input type="text" class="form-control"required name="title" placeholder="titre du service" [(ngModel)]="currentCoaching.title">
            </div>

            <div class="form-group">
              <label>Numéro téléphone</label>
              <input type="text" class="form-control"required name="phone" placeholder="numéro de téléphone" [(ngModel)]="currentCoaching.phone">
            </div>
            <div class="form-group">
              <label>Region</label>
              <input type="text" class="form-control"  required name="region" placeholder="Entrer votre region" [(ngModel)]="currentCoaching.region">
            </div>

            <div class="form-group">
              <label>Email contact</label>
              <input type="email" class="form-control"  required name="email" placeholder="Entrer l'adresse email contact" [(ngModel)]="currentCoaching.email">
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>Montant du service</label>
              <input type="number" class="form-control"  required name="amount" placeholder="Entrer le montnant de cette prestation" [(ngModel)]="currentCoaching.amount">
            </div>
            <div class="form-group">
              <label>Date de deroulement</label>
              <input type="date" class="form-control"  required name="startDate" placeholder="Date de debut du service de coaching et/ou encadrement" [(ngModel)]="currentCoaching.startDate">
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea  rows="6" class="form-control" placeholder="description" name="description" [(ngModel)]="currentCoaching.description"></textarea>
            </div>
          </div>
        </div>

      <br>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-secondary" style="width: 100%" (click)="modal.close('Close click')"><i class="fa fa-long-arrow-left"></i>&nbsp;Retour</button>
          </div>
          <div class="col-md-6">
            <button type="submit"  (click)="modal.close('Close click')" class="btn btn-success" style="background-color:#F5B669 !important;width: 100%">Enregistrer <i class="fa fa-check"></i></button>
          </div>
        </div>
      </div>
      </form>
  </div>
</ng-template>


<!-------------------------------------------------------DELETE COACHING START------------------------------------------------------------>
<ng-template #contentDelete let-modal>
  <div class="modal-header dark-modal" style="background-color:#F45B3A;">
    <h4 class="modal-title" style="color:whitesmoke">Confirmation de Suppression!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p style="color: red;">Voulez vous vraiment supprimer ce coaching??&hellip;</p>
  </div>
  <!--<hr class="my-4" style="background-color: salmon;" />-->

  <div class="modal-footer" style="background-color:#F5B669;">
    <div class="row">
      <!-- <div class="col-md-4 "></div> -->
      <div class="col-md-4 ">
        <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Annuler</button>
      </div> &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-md-4 ">
        <button type="button" class="btn btn-danger"
                (click)="onDelete() + modal.close('Close click')">Supprimer</button>
      </div>
    </div>
  </div>

</ng-template>
<!-------------------------------------------------------DELETE COACHING END-------------------------------------------------------------->



<!-------------------------------------------------------DELETE SESSION COACHING START------------------------------------------------------------>
<ng-template #contentDeleteSession let-modal>
  <div class="modal-header dark-modal" style="background-color:#F45B3A;">
    <h4 class="modal-title" style="color:whitesmoke">Confirmation de Suppression!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p style="color: red;">Voulez vous vraiment supprimer cette session??&hellip;</p>
  </div>
  <!--<hr class="my-4" style="background-color: salmon;" />-->

  <div class="modal-footer" style="background-color:#F45B3A;">
    <div class="row">
      <!-- <div class="col-md-4 "></div> -->
      <div class="col-md-4 ">
        <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Annuler</button>
      </div> &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-md-4 ">
        <button type="button" class="btn btn-danger"
                (click)="onDeleteSession() + modal.close('Close click')">Supprimer</button>
      </div>
    </div>
  </div>

</ng-template>
<!-------------------------------------------------------DELETE SESSION COACHING END-------------------------------------------------------------->
