<!-- Header -->
<header class="header shop">
  <!-- Topbar -->
  <div class="topbar" >
    <div class="mx-3">
      <div class="row">
        <div class="col-lg-2 col-md-12 col-12 text-center">
          <!-- Top Left -->
          <h1><span style="font-size: 50px;">SAYE!</span></h1>
          <!--/ End Top Left -->
        </div>
        <div class="col-lg-10 col-md-12 col-12">
          <!-- Top Right -->
          <div class="right-content">
            <ul class="list-main my-4">
              <li><a href="/" class="header text-black my-4"><i class=" fa fa-home"></i>&nbsp;Accueil</a></li>
              <li><a href="/connexion" class="header my-4 " ><img src="../../../assets/images/about.png" style="width: 
                25px;height: 25;" alt="">&nbsp;&nbsp;A propos</a>
                
              </li>
              <li><a href="/ecommerce/services" class="header my-4"> <img src="../../../assets/images/vectors/Student_Loan_.png" style="width: 
                25px;height: 25px;" alt="">&nbsp;&nbsp;Encadrement & Coaching</a></li>

            <li><a href="/ecommerce/produits" class="header my-4"> <img src="../../../assets/images/vectors/Trade_2.png" style="width: 
              25px;height: 25;" alt="">&nbsp;&nbsp;Produits & Services</a></li>
            <li><a href="/ecommerce/invests" class="header my-4"> <img src="../../../assets/images/investment.png" style="width: 
              25px;height: 25;" alt="">&nbsp;&nbsp;
              Investissement</a></li>
            
              
            </ul>
          </div>
          <!-- End Top Right -->
        </div>
      </div>
    </div>
  </div>
  
</header>
<!--/ End Header -->
