<span></span><br>
<span></span><br>
<span></span><br>
<span></span><br>
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form name="form" (ngSubmit) = "f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <h3 class="text-center" style="font-size: 32px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Page d'enregistrement</h3>
                <p class="text-muted">Créer votre compte</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="pi pi-user"></i></span>
                  </div>
                  <input type="text" class="form-control" name="fullName" [(ngModel)]="form.fullName" #fullName="ngModel"  placeholder="Entrer votre nom complet"  autocomplete="fullName" required />
                  <div *ngIf="f.submitted && fullName.invalid">
                    <div *ngIf="fullName.errors.required">Vous devez entrer votre nom</div>
                  </div>
                </div>


                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" name="email" [(ngModel)]="form.email" placeholder="Entrer votre adresse email" #email="ngModel" required email />
                  <div *ngIf="f.submitted && email.invalid">
                    <div *ngIf="email.errors.required">Entrer une adresse email</div>
                    <div *ngIf="email.errors.email">Entrer une addresse email valide</div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-phone"></i></span>
                  </div>
                  <input type="text"  pattern="[0-9]{8}" class="form-control" name="phone" [(ngModel)]="form.phone" #phone="ngModel"
                         required />
                  <div *ngIf="f.submitted && phone.invalid">
                    <div *ngIf="phone.errors.required">Vous devez entrer un numero de telephone</div>
                    <div *ngIf="phone.errors?.pattern">phone is invalid</div>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label class="text-muted">Province :</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                    </div>
                    <select name="province"  class="form-control" [(ngModel)]="form.province" #province="ngModel" id="">
                      <option value="" disabled>-- Choisissez une representation --</option>
                      <option value="" disabled>-- Liste des Provinces --</option>
                      <option *ngFor="let item of provinces" value="{{item}}">{{item}}</option>
                    </select>

                    <div *ngIf="f.submitted && province.invalid">
                      <div *ngIf="province.errors.required">Vous devez entrer une province</div>
                    </div>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label class="text-muted">communes :</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                    </div>
                    <select name="commune" (click)="selector()"  class="form-control" [(ngModel)]="form.commune" #commune="ngModel" id="">
                      <option value="" disabled>-- Choisissez une representation --</option>
                      <option value="" disabled>-- Liste des Communes --</option>
                      <option *ngFor="let item of communes" value="{{item}}">{{item}}</option>
                    </select>

                    <div *ngIf="f.submitted && commune.invalid">
                      <div *ngIf="commune.errors.required">Vous devez entrer une commune</div>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="pi pi-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
                         required minlength="6" />
                  <div *ngIf="f.submitted && password.invalid">
                    <div *ngIf="password.errors.required">Vous devez entrer un mot de passe</div>
                    <div *ngIf="password.errors.minlength">Votre mot de passe doit contenir au moins 6 caracteres</div>
                  </div>
                </div>

                <button type="submit" class="btn btn-block btn-success" >Enregistrer</button>
                <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
                  Inscription echouer!<br/>{{errorMessage}}
                </div>
                <p>Deja un compte?</p>
                <a href="/" class="btn btn-primary" >Connectez-vous</a>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
