<span></span><br>
<span></span><br>
<span></span><br>
<span></span><br>
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form name="form" (ngSubmit) = "f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <h1 class="text-center">Page d'enregistrement</h1>
                <p class="text-muted">Créer votre compte</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="pi pi-user"></i></span>
                  </div>
                  <input type="text" class="form-control" name="name" [(ngModel)]="form.name" #name="ngModel"   autocomplete="name" required />
                  <div *ngIf="f.submitted && name.invalid">
                    <div *ngIf="name.errors.required">Vous devez entrer un nom</div>
                  </div>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="pi pi-user"></i></span>
                  </div>
                  <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
                         required />
                  <div *ngIf="f.submitted && username.invalid">
                    <div *ngIf="username.errors.required">Vous devez entrer un nom d'utilidateur</div>
                  </div>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" required email />
                  <div *ngIf="f.submitted && email.invalid">
                    <div *ngIf="email.errors.required">Entrer une adresse email</div>
                    <div *ngIf="email.errors.email">Entrer une addresse email valide</div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="pi pi-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
                         required minlength="6" />
                  <div *ngIf="f.submitted && password.invalid">
                    <div *ngIf="password.errors.required">Vous devez entrer un mot de passe</div>
                    <div *ngIf="password.errors.minlength">Votre mot de passe doit contenir au moins 6 caracteres</div>
                  </div>
                </div>

                <button type="submit" class="btn btn-block btn-success" >Enregistrer</button>
                <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
                  Inscription echouer!<br/>{{errorMessage}}
                </div>
                <p>Deja un compte?</p>
                <a href="login" class="btn btn-primary" >Connectez-vous</a>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
