<ul class="shopping-list">
  <li *ngFor="let order of orders.productOrders">
    <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
     <a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
     <h4><a href="#">{{ order.product.name }}</a></h4>
     <p class="quantity">{{ order.quantity}} pcs<span class="amount">$99.00</span></p>
  </li>
</ul>
<div class="bottom">
  <div class="total">
    <span>Total</span>
    <span class="total-amount">FCFA {{total}}</span>
  </div>
  <button  (click)="finishOrder()" [disabled]="orders.productOrders.length == 0" class="btn animate">Checkout</button>
</div>
