<app-header></app-header>
<div [hidden]="orderFinished">
<!--================Home Banner Area =================-->
 <section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div
          class="banner_content d-md-flex justify-content-between align-items-center"
        >
          <div class="mb-3 mb-md-0">
            <h2>Detail du produit</h2>
            <p>Achetez votre produit </p>
          </div>
          <div class="page_link">
            <a href="/">Accueil</a>
            <a href="/ecommerce/product/detail/{{currentProduct.id}}">Detail du produit</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Home Banner Area =================-->

</div>
<div [hidden]="!orderFinished">
  <app-orders #ordersC ></app-orders>
</div>

<main class="card">
  <div class="row no-gutters">
    <aside class="col-sm-6 border-right">
      <article class="gallery-wrap">
        <div class="img-big-wrap">
          <div> <a href="./assets/images/items/1.jpg" data-fancybox=""><img src="./assets/images/items/1.jpg"></a></div>
        </div> <!-- slider-product.// -->
        <div class="img-small-wrap">
          <div class="item-gallery"> <img src="./assets/images/items/1.jpg"></div>
          <div class="item-gallery"> <img src="./assets/images/items/2.jpg"></div>
          <div class="item-gallery"> <img src="./assets/images/items/3.jpg"></div>
          <div class="item-gallery"> <img src="./assets/images/items/4.jpg"></div>
        </div> <!-- slider-nav.// -->
      </article> <!-- gallery-wrap .end// -->
    </aside>
    <aside class="col-sm-6">
      <article class="card-body">
        <!-- short-info-wrap -->
        <h3 class="title mb-3">{{productOrder[0].product.name}}</h3>

        <div class="mb-3">
          <var class="price h3 text-price">
            <span class="currency">FB </span><span class="num"> {{productOrder[0].product.price}}</span>
          </var>
          <!--<span>/per kg</span>-->
        </div> <!-- price-detail-wrap .// -->
        <dl>
          <dt>Description</dt>
          <dd><p>{{currentProduct.description}} </p></dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Mesure#</dt>
          <dd class="col-sm-9">{{currentProduct.measure}}</dd>

          <dt class="col-sm-3">Catégorie</dt>
          <dd class="col-sm-9">{{productOrder[0].product.category}}</dd>

          <dt class="col-sm-3">Disponibilité</dt>
          <dd class="col-sm-9">En Stock</dd>
        </dl>
        <hr>
        <div class="row">
          <div class="col-sm-5">
            <dl class="dlist-inline">
              <dt>Quantité: </dt>
              <dd>
                <select class="form-control form-control-sm" style="width:70px;">
                  <option> 1 </option>
                  <option> 2 </option>
                  <option> 3 </option>
                </select>
              </dd>
            </dl>  <!-- item-property .// -->
          </div> <!-- col.// -->
          <div class="col-sm-7">

          </div> <!-- col.// -->
        </div> <!-- row.// -->
        <hr>
        <button  class="btn  btn-warning" style="background-color: #F7941D;" (click)="addToCart(productOrder[0])"> <i class="fa fa-shopping-cart"></i> Ajouter dans mon panier</button>
        <app-shopping-cart (onOrderFinished)=finishOrder($event) #shoppingCartC
                           [hidden]="orderFinished"></app-shopping-cart>
        <!-- short-info-wrap .// -->
      </article> <!-- card-body.// -->
    </aside> <!-- col.// -->
  </div> <!-- row.// -->
</main> <!-- card.// -->


<app-footer></app-footer>
