<app-admin-header></app-admin-header>
<div class="my-2">
  <div class="alert-info title card-header  text-center">
    <div class="row">
      <div class="col-md-6">
        <h1>Details d'un article</h1>
      </div>
      <div class="col-md-6">
        <a href="/admin/detail/boutique/{{currentProduct.boutique.id}}" class="btn btn-lg"><i class="fa fa-long-arrow-left"></i></a>
        <a href="/admin/product/update/{{currentProduct.id}}" class="btn btn-lg"><i class="fa fa-pencil"></i></a>
        <button type="button" (click)="deleteProduct(currentProduct.id)" class="btn btn-lg"><i class="fa fa-trash"></i></button>
      </div>
    </div>

  </div>
  <table class="table table-bordered table-responsive-md">
    <tbody>
      <tr>
        <td>Nom</td>
        <td>{{currentProduct.name}}</td>
      </tr>
      <tr>
        <td>Prix</td>
        <td>CDF {{currentProduct.price}}</td>
      </tr>
      <tr>
        <td>Categorie</td>
        <td>{{currentProduct.category}}</td>
      </tr>
      <tr>
        <td>Genre</td>
        <td>{{currentProduct.genre}}</td>
      </tr>
      <tr>
        <td>Qualite</td>
        <td>{{currentProduct.quality}}</td>
      </tr>
      <tr>
        <td>Marque</td>
        <td>{{currentProduct.marque}}</td>
      </tr>
      <tr>
        <td>Couleurs disponible</td>
        <td>
          <ul *ngFor="let item of currentProduct.colors">
            <li>{{item}}&nbsp;
              </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Image</td>
        <td>
          <div class="px-4 row">
          <img src="{{currentProduct.pictureUrl}}" alt="product image" height="80" width="90">&nbsp;&nbsp;
          <div>
            <form [formGroup] = "imageForm" (ngSubmit)="onSubmit()" >
            <div>
              <input type="file" name="picture" (change)="onFileSelect($event)" >
            </div>
            <button type="submit">Modifier</button>
          </form>
          </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{currentProduct.description}}</td>
      </tr>
      <tr>
        <td>Boutique</td>
        <td>{{currentProduct.boutique.name}}</td>
      </tr>
      <tr>
        <td>Autres photos du produit</td>
        <td >
          <span class="m-2" *ngFor="let item of currentProduct.pictures">
            <img  src="{{item}}" alt="" height="80" width="90"> &nbsp;
          </span>
          <div class="my-2">
            <div>
              <input type="file" multiple name="images" (change)="onFilesSelect($event)" >
            </div>
            <button (click)="uploadFiles()">Ajouter</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
