<app-admin-sidebar></app-admin-sidebar>
<div class="main-content">
  <!-- Top navbar -->
  <app-admin-navbar></app-admin-navbar>
  <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
      <div class="header-body">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="card-title text-uppercase text-muted mb-0"> <span class="h2 font-weight-bold mb-0">Objet :   {{currentLoans.intitule}} </span></h5>
                    <p class="mt-3 mb-0 text-muted text-sm" style="color: #F45B3A !important;">
                        <span class="text-success mr-2" ><i class="fa fa-user"></i> Depositaire :</span>
                        <span class="text-nowrap">{{currentLoans.userName}}</span>
                      </p>
                      <p class="mt-3 mb-0 text-muted text-sm"  style="color: #F45B3A !important;">
                        <span class="text-success mr-2"><i class="fa fa-thumbtack"></i>Region :</span>
                        <span class="text-nowrap">{{currentLoans.region}}</span>
                      </p>
                      <p class="mt-3 mb-0 text-muted text-sm"  style="color: #F45B3A !important;">
                        <span class="text-success mr-2"><i class="fa fa-phone"></i> Téléphone depositaire :</span>
                        <span class="text-nowrap">{{currentLoans.userPhone}}</span>
                      </p>
                      <p class="mt-3 mb-0 text-muted text-sm"  style="color: #F45B3A !important;">
                        <span class="text-success mr-2"><i class="fa fa-envelop"></i> Email depositaire :</span>
                        <span class="text-nowrap">{{currentLoans.userEmail}}</span>
                      </p>
                      <p class="mt-3 mb-0 text-muted text-sm"  style="color: #F45B3A !important;">
                        <span class="text-success mr-2"><i class="fa fa-dollar-sign"></i> Montant :</span>
                        <span class="text-nowrap">{{currentLoans.amount+' '+currentLoans.devise}}</span>
                      </p> 
                 </div>
                 <div class="col-md-6">
                    <p class="mt-3 mb-0 text-muted text-sm"  style="color: #F45B3A !important;">
                        <span class="text-success mr-2"><i class="fa fa-th-list"></i>Secteur d'activite  :</span>
                        <span class="text-nowrap">{{currentLoans.secteurActivite}}</span>
                      </p>
                    <p class="mt-3 mb-0 text-muted text-sm" style="color: #F45B3A !important;">
                        <span class="text-success mr-2" ><i class="fa fa-money-check"></i> Banque  :</span>
                        <span class="text-nowrap">{{currentLoans.bankName}}</span>
                      </p>
                      <p class="mt-3 mb-0 text-muted text-sm"  style="color: #F45B3A !important;">
                        <span class="text-success mr-2"><i class="fa fa-file-invoice"></i>Mode de paiement  :</span>
                        <span class="text-nowrap">{{currentLoans.paymentMode}}</span>
                      </p>
                      <p class="mt-3 mb-0 text-muted text-sm"  style="color: #F45B3A !important;">
                        <span class="text-success mr-2"><i class="fa fa-info"></i>Status  :</span>
                        <span *ngIf="currentLoans.status" class="badge badge-dot mr-4"><i class="bg-success"></i> Publier</span>
                        <span *ngIf="!currentLoans.status" class="badge badge-dot mr-4"><i class="bg-warning"></i> Suspendus</span>
                
                      </p>
                 </div>
                  

                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pages -->
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0" style="background-color:#F45B3A;">
            <div class="row">
              <div class="col-md-6 col-lg-2">
                <button (click)="onBack()" pButton icon="fa fa-long-arrow-left" style="float:left;background-color:#F7941D;" label="Retour"></button>
              </div>
              <div class="col-md-6 col-lg-6 pull-right" style="width: 40%">
                <label >Recherche <i class="fa fa-search"></i></label>
                <input type="text" class="form-control" [(ngModel)]="searchItem">
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Nom</th>
                <th scope="col">Categorie</th>
                <th scope="col">Type</th>
                <th scope="col">Montant</th>
                <th scope="col">Quantité</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of lists | filter:searchItem | paginate: {itemsPerPage: 10, currentPage: p}">
                
              </tr>

              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </ul>
            </nav>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <app-admin-footer></app-admin-footer>
  </div>
</div>


<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>

<!-- TOAST MESSAGE TEMPLATE -->
<p-toast position="top-right"></p-toast>
<p-toast position="bottom-center" key="c" (onClose)="onReject()" >
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6">
          <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
        </div>
        <div class="p-col-6">
          <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>





