<app-header></app-header>
<div [hidden]="orderFinished">
  <!--================Home Banner Area =================-->
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div class="banner_content d-md-flex justify-content-between align-items-center">
        <div class="mb-3 mb-md-0">
          <h2>Collection pour femmes</h2>
          <p>Decrouvez des nouveautes dans le rayon au feminin</p>
        </div>
        <div class="page_link">
          <a href="/ecommerce/home">Accueil</a>
          <a href="/ecommerce/women/collection">Collection femmes</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->
  <!--================Category Product Area =================-->
  <section class="cat_product_area section_gap">
    <div class="container">
      <div class="row flex-row-reverse">
        <div class="col-lg-9">
          <div class="product_top_bar">
            <div class="left_dorp mx-4">
              <input type="text" class="form-control" [(ngModel)]="searchItem">&nbsp;
            </div>
            <div class="right_dorp">
              <span><i class="fa fa-search"></i> Recherche rapide</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <div class="latest_product_inner">
                <div class="row">
                  <div class="col-lg-4 col-md-6" *ngFor="let item of productOrders | filter:searchItem |paginate: {itemsPerPage: 10, currentPage: p}">
                    <div class="single-product">
                      <div class="product-img">
                        <img
                          class="card-img"
                          src="{{item.product.pictureUrl}}"
                          alt=""
                        />
                        <div class="p_icon">
                          <a href="/ecommerce/product/detail/{{item.product.id}}">
                            <i class="ti-eye"></i>
                          </a>
                        
                          <a  type="button"  *ngIf="!isProductSelected(item.product)" (click)="addToCart(item)">
                            <i class="ti-shopping-cart"></i>
                          </a>
                          <a type="button"  class="badge badge-danger" *ngIf="isProductSelected(item.product)" (click)="removeFromCart(item)" >
                            <i class="ti-shopping-cart"></i>
                          </a>
                        </div>
                      </div>
                      <div class="product-btm">
                        <a href="#" class="d-block">
                          <h4>{{item.product.name}}</h4>
                        </a>
                        <div class="mt-3">
                          <span class="mr-4">FCFA {{item.product.price}}</span>
                          <del></del>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
            <div class="col-md-3 my-2">
              <app-shopping-cart (onOrderFinished)=finishOrder($event) #shoppingCartC
                                   ></app-shopping-cart>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="left_sidebar_area">
            <aside class="left_widgets p_filter_widgets">
              <div class="l_w_title">
                <h3>Toutes les Categories</h3>
              </div>
              <div class="widgets_inner">
                <ul class="list" *ngFor="let item of categories">
                  <li>
                    <a type="button" class="btn" (click)="sort(item)">{{item}}</a>
                  </li>
                </ul>
              </div>
            </aside>

            <aside class="left_widgets p_filter_widgets">
              <div class="l_w_title">
                <h3>Marques des produits</h3>
              </div>
              <div class="widgets_inner">
                <ul class="list" *ngFor="let item of allMarques">
                  <li>
                    <a type="button" class="btn" (click)="marque(item)">{{item}}</a>
                  </li>
                
                </ul>
              </div>
            </aside>

            <aside class="left_widgets p_filter_widgets">
              <div class="l_w_title">
                <h3>Couleures</h3>
              </div>
              <div class="widgets_inner">
                <ul class="list" *ngFor="let item of allColors">
                  <li>
                    <a type="button" class="btn" (click)="color(item)">{{item}}</a>
                  </li>
                </ul>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Category Product Area =================-->
</div>
<div [hidden]="!orderFinished">
  <app-orders #ordersC ></app-orders>
</div>
  <app-footer></app-footer>
