<app-admin-sidebar></app-admin-sidebar>
<div class="main-content">
  <!-- Top navbar -->
  <app-admin-navbar></app-admin-navbar>
  <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Boutique</h5>
                    <span class="h2 font-weight-bold mb-0">{{currentBoutique.name}} </span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fa fa-map"></i> Lieu</span>
                  <span class="text-nowrap">{{currentBoutique.localisation}}</span>
                </p>
                <p class="mt-3 mb-0 text-muted text-sm">
                <!--  <span *ngIf="!currentBoutique.status" class="text-danger">Fermer</span>
                  <span *ngIf="currentBoutique.status" class="text-success">Ouverte</span>-->
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pages -->
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0" style="background-color:#F5B669;">

            <div class="col-md-6 pull-right" style="width: 40%">
              <label >Recherche <i class="fa fa-search"></i></label>
              <input type="text" class="form-control" [(ngModel)]="searchItem">
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col">Nom</th>
                <th scope="col">Categorie</th>
                <th scope="col">Genre</th>
                <th scope="col">Montant</th>
                <th scope="col">Qualite</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of lists | filter:searchItem | paginate: {itemsPerPage: 10, currentPage: p}">
                <td>{{item?.name}}</td>
                <td>
                  {{item?.region}}
                </td>
                <td>{{item?.phone}} </td>
                <td>{{item?.activationCode}} <br>
                  <a type="button" (click)="sendCode(item?.id)" class="btn btn-primary">Envoyer code</a>
                </td>
                <td *ngIf="!item?.status">
                  <span class="badge badge-dot mr-4"><i class="bg-warning"></i> Fermer</span>
                </td>
                <td *ngIf="item?.status">
                  <span class="badge badge-dot mr-4"><i class="bg-success"></i> Ouverte</span>
                </td>
                <td class="text-right">
                  <a href="/admin/product/detail/{{item.id}}" class="btn btn-success m-1"><i class="fa fa-angle-double-right"></i></a>
                  <a href="/admin/product/update/{{item.id}}" class="btn btn-secondary m-1"><i class="fa fa-edit"></i></a>
                  <button  (click)="deleteProduct(item.id)" class="btn btn-danger m-1"><i class="fa fa-trash"></i></button>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <app-admin-footer></app-admin-footer>
  </div>
</div>



