<app-admin-sidebar></app-admin-sidebar>
<div class="main-content">
  <!-- Top navbar -->
  <app-admin-navbar></app-admin-navbar>
  <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">

<!--        <div style="padding: 5px; box-shadow:  0 0.125rem 0.8rem rgba(0, 0, 0, 0.1); background-color:#F5B669; !important;">
          <h3 style="font-size: 1rem; font-weight: bold; color:#e48e66"> Détails d'une boutique</h3>
          <div class="ui-g ui-fluid">
            <div class="ui-sm-6 ui-md-6">
              &lt;!&ndash; <div style="font-size: 1rem; font-weight: bold; color:#e48e66">  &ndash;&gt;
              <div class="ui-sm-12 ui-md-12">
                <div style="display: flex; flex-direction: column; border: 1px solid rgba(0, 0, 0, 0.1);; padding: 5px; box-shadow:  0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);">
                  <div class="header" style="display: flex;">
                    <span class="pi pi-calendar" style="color: #34A835;">&nbsp;{{currentBoutique.name}}</span>&nbsp;
                    <span style="font-weight: bold"></span>
                  </div>
                  <div class="body" style="display: flex; flex-direction: column; font-weight: bold; font-size: .7rem; opacity: .8; ">
                    <span style=" text-transform:uppercase;"></span>
                    <span style=" text-transform:uppercase;"> </span>
                  </div>
                </div>
              </div>

              <div  class="ui-sm-12 ui-md-12">
                <div  style="display: flex; flex-direction: column; border: 1px solid rgba(0, 0, 0, 0.1); padding: 5px; box-shadow:  0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);">
                  <div class="header" style="display: flex;">
                    <span class="pi pi-calendar" style="color: #34A835; opacity: .5;"></span>&nbsp;
                    <span style="font-weight: bold"></span>
                  </div>
                  <div class="body" style="display: flex; flex-direction: column; font-weight: bold; font-size: .7rem; opacity: .8;">
                    <span style=" text-transform:uppercase;"> </span>
                    <span style=" text-transform:uppercase;"> </span>
                  </div>
                </div>
              </div>
              &lt;!&ndash; </div> &ndash;&gt;
            </div>
            <div class="ui-sm-6 ui-md-6 ">
              <div class="ui-sm-12 ui-md-12">
                <div style="display: flex; flex-direction: column; border: 1px solid rgba(0, 0, 0, 0.1); padding: 5px; box-shadow:  0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);">
                  <div class="header" style="display: flex;">
                    <span class="pi pi-calendar" style="color: #e48e66"></span>&nbsp;
                    <span style="font-weight: bold"></span>
                  </div>
                  <div class="body" style="display: flex; flex-direction: column; font-weight: bold; font-size: .7rem; opacity: .8;">
                    <span style=" text-transform:uppercase;"> </span>
                    <span style=" text-transform:uppercase;"> </span>
                  </div>
                </div>
              </div>

              &lt;!&ndash; Livraisons Annex &ndash;&gt;
              <div  class="ui-sm-12 ui-md-12">
                <div style="display: flex; flex-direction: column; border: 1px solid rgba(0, 0, 0, 0.1); padding: 5px; box-shadow:  0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);">
                  <div class="header" style="display: flex;">
                    <span class="pi pi-calendar" style="color: #e48e66; opacity: .5;"></span>&nbsp;
                    <span style="font-weight: bold"></span>
                  </div>
                  <div class="body" style="display: flex; flex-direction: column; font-weight: bold; font-size: .7rem; opacity: .8;">
                    <span style=" text-transform:uppercase;"></span>
                    <span style=" text-transform:uppercase;"> </span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>-->


      </div>
      <div class="header-body">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Boutique &nbsp; <span class="h2 font-weight-bold mb-0">{{currentBoutique.name}} </span></h5>
                  </div>

                </div>
                <p class="mt-3 mb-0 text-muted text-sm"  style="color: #F45B3A !important;">
                  <span class="text-success mr-2"><i class="fa fa-map"></i> Lieu:</span>
                  <span class="text-nowrap">{{currentBoutique.localisation}}</span>
                </p>
                <p class="mt-3 mb-0 text-muted text-sm"  style="color: #F45B3A !important;">
                  <span class="text-success mr-2"><i class="fa fa-phone"></i> Téléphone:</span>
                  <span class="text-nowrap">{{currentBoutique.phone}}</span>
                </p>

                <p class="mt-3 mb-0 text-muted text-sm" style="color: #F45B3A !important;">
                  <span class="text-success mr-2" ><i class="fa fa-rebel"></i> Region:</span>
                  <span class="text-nowrap">{{currentBoutique.region}}</span>
                </p>
                <p class="mt-3 mb-0 text-muted text-sm"  style="color: #F45B3A !important;">
                  <span class="text-success mr-2"><i class="fa fa-credit-card"></i> Carte Number:</span>
                  <span class="text-nowrap">{{currentBoutique.cardNumber}}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pages -->
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0" style="background-color:#F45B3A;">
            <div class="col-md-6">
              <button (click)="openModalProduct(contentAdd)" pButton icon="fa fa-plus" style="float:left;background-color:#F7941D;" label="Ajouter Produit"></button>
            </div>
            <div class="col-md-6 pull-right" style="width: 40%">
              <label >Recherche <i class="fa fa-search"></i></label>
              <input type="text" class="form-control" [(ngModel)]="searchItem">
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Nom</th>
                <th scope="col">Categorie</th>
                <th scope="col">Type</th>
                <th scope="col">Montant</th>
                <th scope="col">Quantité</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let product of products | filter:searchItem | paginate: {itemsPerPage: 10, currentPage: p}">
                <td><img src="{{product?.pictureUrl}}" alt="" height="80" width="80"></td>
                <td>{{product?.name}}</td>
                <td>
                  {{product?.category}}
                </td>
                <td>
                  {{product?.type}}
                </td>
                <td>
                  {{product?.price}}
                </td>
                <td>
                  {{product?.quantity}}

                </td>
              

                <td class="text-right" style="width:3em; text-align:center; font-size: 0.65rem;">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <button (click)="detailProduct(product.id)"  class="btn btn-success ml-1"><i class="pi pi-eye"></i></button>
                      <button (click)="setUpdate(contentUpdate, product)" class="btn btn-primary "><i class="pi pi-pencil"></i></button>
                    <button  (click)="onDelete(contentDelete, product)" class="btn btn-danger"><i class="pi pi-trash"></i></button>

                    </div>
                  </div>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </ul>
            </nav>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <app-admin-footer></app-admin-footer>
  </div>
</div>

<!--<div *ngIf="product">
  <app-add-product [product]="product"  (saveProductEvent)="saveProduct($event)"
                        (closeDialogEvent)="closeDialogForm()" ></app-add-product>
</div>-->

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>

<!-- TOAST MESSAGE TEMPLATE -->
<p-toast position="top-right"></p-toast>
<p-toast position="bottom-center" key="c" (onClose)="onReject()" >
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6">
          <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
        </div>
        <div class="p-col-6">
          <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<p-sidebar [(visible)]="details" position="right" styleClass="ui-sidebar-lg" [baseZIndex]="10000">
  <div class="ui-sm-6 ui-md-6 ">
    <div class="ui-sm-12 ui-md-12">
      <div style="display: flex; flex-direction: column; border: 1px solid rgba(0, 0, 0, 0.1); padding: 5px; box-shadow:  0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);">
        <div class="header" style="display: flex;">
          <span class="pi pi-calendar" style="color: #e48e66"></span>&nbsp;
          <span style="font-weight: bold">test</span>
        </div>
        <div class="body" style="display: flex; flex-direction: column; font-weight: bold; font-size: .7rem; opacity: .8;">
          <span style=" text-transform:uppercase;">test</span>
          <span style=" text-transform:uppercase;"> test</span>
        </div>
      </div>
    </div>
    <br>
    <!-- Livraisons Annex -->
    <div  class="ui-md-12 ui-md-12">
      <div style="display: flex; flex-direction: column; border: 1px solid rgba(0, 0, 0, 0.1); padding: 5px; box-shadow:  0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);">
        <div class="header" style="display: flex;">
          <span class="pi pi-calendar" style="color: #e48e66; opacity: .5;"></span>&nbsp;
          <span style="font-weight: bold">test</span>
        </div>
        <br>
        <div class="body" style="display: flex; flex-direction: column; font-weight: bold; font-size: .7rem; opacity: .8;">
          <span style=" text-transform:uppercase;"> test</span>
          <span style=" text-transform:uppercase;"> test</span>
        </div>
      </div>
    </div>

  </div>
</p-sidebar>


<!-------------------------------------------------------ADD PRODUCT START-------------------------------------------------------------->

<ng-template #contentAdd let-modal>
  <div class="modal-header" style="background-color:#F45B3A;">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="productForm" (submit)="onSubmitProduct()">
      <h2>Formulaire d'ajout d'un nouveau produit</h2>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Nom de l'article</label>
          <input type="text" class="form-control"  required  placeholder="Nom de l'article" formControlName="name">
        </div>

        <div class="form-group  col-md-6">
          <label >Montant par unite</label>
          <input type="number" class="form-control"  required formControlName="price"  placeholder="Montant de votre article">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label>Categorie</label>
          <select  formControlName="category"  class="form-control">
            <option value="" disabled>-- Choisir une category de votre article --</option>
            <option value="{{item}}" *ngFor="let item of categories">{{item}}</option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label >type</label>
          <select formControlName="type"  class="form-control">
            <option value="" disabled>-- Choisir un genre pour votre article --</option>
            <option value="{{item}}" *ngFor="let item of types">{{item}}</option>
          </select>

        </div>

      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Quantity disponible en stock</label>
          <input type="number" class="form-control"  required formControlName="quantity"  placeholder="La Quantite disponible de votre produit">
        </div>
        <div class="form-group col-md-6">
          <label>Image</label>
          <input type="file" class="form-control" required name="pictureUrl" (change)="onFilesSelect($event)" placeholder="Image">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label >Unite de mesure du produit</label>
          <select formControlName="measure"  class="form-control">
            <option value="" disabled>-- Choisir une unite pour votre produit --</option>
            <option value="{{item}}" *ngFor="let item of measures">{{item}}</option>
          </select>

        </div>
        <div class="form-group col-md-6">
          <label >Description</label>
          <textarea name="description" class="form-control"  formControlName="description" rows="4"></textarea>
        </div>
      </div>
      <br>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6">
            <button href="#" class="btn btn-secondary" style="width: 100%" (click)="modal.close('Close click')" ><i class="fa fa-long-arrow-left"></i>&nbsp;Retour</button>
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-success" style="background-color:#F5B669 !important;width: 100%" (click)="modal.close('Close click')" >Enregistrer <i class="fa fa-check"></i></button>
          </div>
        </div>
      </div>
    </form>

  </div>
</ng-template>

<!-------------------------------------------------------ADD PRODUCT END-------------------------------------------------------------->






<!-------------------------------------------------------UPDATED PRODUCT START-------------------------------------------------------------->
<ng-template #contentUpdate let-modal>
  <div class="modal-header" style="background-color:#F45B3A;">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="productForm" (submit)="updateProduct()">
      <h5>Article</h5>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Nom de l'article</label>
          <input type="text" class="form-control"  required  placeholder="Nom de l'article" formControlName="name">
        </div>

        <div class="form-group  col-md-6">
          <label for="montant">Montant</label>
          <input type="number" class="form-control" id="montant" required formControlName="price"  placeholder="Montant de votre article">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="categorie">Categorie</label>
          <select  formControlName="category"  id="categorie" class="form-control">
            <option value="" disabled>-- Choisir une category de votre article --</option>
            <option value="{{item}}" *ngFor="let item of categories">{{item}}</option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label >type</label>
          <select formControlName="type"  class="form-control">
            <option value="" disabled>-- Choisir un genre pour votre article --</option>
            <option value="{{item}}" *ngFor="let item of types">{{item}}</option>
          </select>

        </div>

      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="marque">Marque</label>
          <input type="text" class="form-control" id="marque" required formControlName="marque"  placeholder="La marque de votre article">
        </div>
        <div class="form-group col-md-6">
          <label>Quantity </label>
          <input type="number" class="form-control"  required formControlName="quantity"  placeholder="La marque de votre article">

        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="marque">Image</label>
          <input type="file" class="form-control" required formControlName="pictureUrl"  placeholder="Image">
        </div>
        <div class="form-group col-md-6">
          <label >Description</label>
          <textarea name="description" class="form-control"  formControlName="description" id="" rows="4"></textarea>
        </div>
      </div>
      <br>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-secondary" style="width: 100%" (click)="modal.close('Close click')"><i class="fa fa-long-arrow-left"></i>&nbsp;Retour</button>
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-success" style="background-color:#F5B669 !important;width: 100%"(click)="modal.close('Close click')" >Enregistrer <i class="fa fa-check"></i></button>
          </div>
        </div>
      </div>
    </form>

  </div>
</ng-template>
<!-------------------------------------------------------UPDATED PRODUCT END-------------------------------------------------------------->

<!-- MODAL SHOW DETAIL PRODUCT -->

<ng-template #contentShow let-modal>

  <div class="card card-stats mb-4 mb-xl-0">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title text-uppercase text-muted mb-0">Prouit &nbsp; <span class="h2 font-weight-bold mb-0">{{product.name}} </span></h5>

        </div>
        <!--<div class="col-auto">
          <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
            <i class="fas fa-chart-bar"></i>
          </div>
        </div>-->
      </div>
      <p class="mt-3 mb-0 text-muted text-sm">
        <span class="text-success mr-2"><i class="fa fa-map"></i> Prix:</span>
        <span class="text-nowrap">{{product.price}}</span>
      </p>
      <p class="mt-3 mb-0 text-muted text-sm">
        <span class="text-success mr-2"><i class="fa fa-phone"></i> Quantité:</span>
        <span class="text-nowrap">{{product.quantity}}</span>
      </p>
      <p class="mt-3 mb-0 text-muted text-sm">
        <span class="text-success mr-2"><i class="fa fa-credit-card"></i> Type:</span>
        <span class="text-nowrap">{{product.type}}</span>
      </p>
    </div>
  </div>

</ng-template>

<!-------------------------------------------------------DELETE PRODUCT START-------------------------------------------------------------->
<ng-template #contentDelete let-modal>
  <div class="modal-header dark-modal" style="background-color:#F45B3A;">
    <h4 class="modal-title" style="color:whitesmoke">Confirmation de Suppression!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p style="color: red;">Voulez vous vraiment supprimer ce produit??&hellip;</p>
  </div>
  <!--<hr class="my-4" style="background-color: salmon;" />-->

  <div class="modal-footer" style="background-color:#F45B3A;">
    <div class="row">
      <!-- <div class="col-md-4 "></div> -->
      <div class="col-md-4 ">
        <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Annuler</button>
      </div> &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-md-4 ">
        <button type="button" class="btn btn-danger"
                (click)="deleteProduct() + modal.close('Close click')">Supprimer</button>
      </div>
    </div>
  </div>

</ng-template>
<!-------------------------------------------------------DELETE PRODUCT END-------------------------------------------------------------->

