<app-admin-sidebar></app-admin-sidebar>
<div class="main-content">
  <app-admin-navbar></app-admin-navbar>
  <div class="header  pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <h2>Gestion des Services de coaching et/ou encadrement</h2>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0 row" >
            <div class="col-md-6 my-4">
              <button (click)="openModalAddCompany(contentAdd)" pButton icon="fa fa-plus" style="float:left;background-color:black;" label="Nouveau service de coaching"></button>
            </div>
            <div class="col-md-6 " >
              <label >Recherche <i class="fa fa-search"></i></label>
              <input type="text" class="form-control" [(ngModel)]="searchItem">
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col">Titre</th>
                <th  scope="col">Telephone</th>
                <th scope="col">Localisation</th>
                <th scope="col">Date</th>
                <th scope="col">Montant</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of lists | filter:searchItem | paginate: {itemsPerPage: 10, currentPage: p}">
                <td>{{item.title}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.province+', '+item.commune}}</td>
                <td>{{item.startDate}}</td>
                <td> {{item.amount+' '+item.devise}} </td>
                <td>
                 <button  class="btn btn-success m-1" (click)="getCoaching(item.id)"><i class="pi pi-eye"></i></button>
                  <button (click)="setCoaching(contentUpdate, item)" class="btn btn-secondary m-1"><i class="pi pi-pencil"></i></button>
                  <button  (click)="deleteCoaching(contentDelete, item)" class="btn btn-danger m-1"><i class="pi pi-trash"></i></button>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">

            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>





<!-- TOAST MESSAGE TEMPLATE -->
<p-toast position="top-right"></p-toast>
<p-toast position="bottom-center" key="c" (onClose)="onReject()" >
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6">
          <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
        </div>
        <div class="p-col-6">
          <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>




<!-- MODAL  FORM FOR ADD COACHING -->

<ng-template #contentAdd let-modal>
  <div class="modal-header" >
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (submit)="saveCoaching()">
      <div class="my-4 text-center">
        <h2>Nouvelle Formation</h2>
      </div>
              <div class="form-group row">
                <div class="col-md-6 col-xl-4">
                  <label>Type de service</label>
                </div>
                <div class="col-md-6 col-xl-8">
                  <select formControlName="type" class="form-control" required  >
                    <option value="">-- Choisir un type de service --</option>
                    <option value="{{item}}" *ngFor="let item of types">{{item}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 col-xl-4">
                  <label>Titre</label>
                </div>
                <div class="col-md-6 col-xl-8">
                  <input type="text" class="form-control"required formControlName="title" placeholder="entrée le titre " >
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 col-xl-4">
                  <label>Debut Formation</label>
                </div>
                <div class="col-md-6 col-xl-8">
                  <input type="date" class="form-control"  required formControlName="startDate" placeholder="Date de debut du service de coaching et/ou encadrement" >
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 col-xl-4">
                  <label>Fin Formation</label>
                </div>
                <div class="col-md-6 col-xl-8">
                  <input type="date" class="form-control"  required formControlName="dateFinFormation" placeholder="Date fin de coaching et/ou encadrement" >
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 col-xl-4">
                  <label>Date limite d'enregistrement</label>
                </div>
                <div class="col-md-6 col-xl-8">
                  <input type="date" class="form-control"required formControlName="dateLimiteDenregistrement">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 col-xl-4">
                  <label>Frequence de deroulement</label>
                </div>
                <div class="col-md-6 col-xl-8">
                  <select formControlName="frequency" class="form-control" required  >
                    <option value="">-- Choisir une frequence de deroulement --</option>
                    <option value="{{item}}" *ngFor="let item of frequencies">{{item}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 col-xl-4">
                  <label>Nom du formateur ou de l'institution</label>
                </div>
                <div class="col-md-6 col-xl-8">
                  <input type="text" class="form-control"  required formControlName="builderName" placeholder="Nom du formateur ou de l'institution" >
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 col-xl-4">
                  <label>Email contact</label>
                </div>
                <div class="col-md-6 col-xl-8">
                  <input type="email" class="form-control"  required formControlName="email" placeholder="Entrer l'adresse email contact" >
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6 col-xl-4">
                  <label>Numéro téléphone</label>
                </div>
                <div class="col-md-6 col-xl-8">
                  <input type="text" class="form-control"required formControlName="phone" placeholder="numéro de téléphone" >
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6 col-xl-4">
                  <label>Province</label>
                </div>
                <div class="col-md-6 col-xl-8">
                  <select formControlName="province" class="form-control" required  >
                    <option value="">-- Choisir une province --</option>
                    <option value="{{item}}" *ngFor="let item of provinces">{{item}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 col-xl-4">
                  <label>Commune</label>
                </div>
                <div class="col-md-6 col-xl-8">
                  <select formControlName="commune" (click)="selector()" class="form-control" required  >
                    <option value="">-- Choisir une commune --</option>
                    <option value="{{item}}" *ngFor="let item of communes">{{item}}</option>
                  </select>
                </div>
              </div>

              
              <div class="form-group row">
                <div class="col-md-6 col-xl-4">
                  <label>Montant du service</label>
                </div>
                <div class="col-md-6 col-xl-8">
                  <input type="number" class="form-control"  required formControlName="amount" placeholder="Entrer le montant de cette prestation" >
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 col-xl-4">
                  <label >Devise: </label>
                </div>
                <div class="col-md-6 col-xl-8">
                  <select formControlName="devise" class="form-control" >
                    <option value="">-- Choisissez une devise --</option>
                    <option value="USD">US Dollars</option>
                    <option value="EURO">Euro</option>
                    <option value="BIF">Franc Burundais</option>
                    <option value="Shilling">Shilling</option>
                    <option value="FCFA">Franc CFA</option>
                    <option value="FC">Franc Congolais</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6 col-xl-4">
                  <label>Description</label>
                </div>
                <div class="col-md-6 col-xl-8">
                  <textarea  rows="6" class="form-control" placeholder="description" formControlName="description" ></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 col-xl-4">
                  <label>Image de couverture</label>
                </div>
                <div class="col-md-6 col-xl-8">
                  <div *ngIf="message" class="alert alert-danger">
                    <span>{{message}}</span>
                  </div>
                  <input type="file" class="form-control"  name="logo" (change)="onFilesSelect($event)"  placeholder="Image de profile" >
                </div>
              </div>

        <br>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn-secondary" style="width: 100%" (click)="modal.close('Close click')"><i class="fa fa-long-arrow-left"></i>&nbsp;Retour</button>
            </div>
            <div class="col-md-6">
              <button type="submit"   (click)="modal.close('Close click')" class="btn btn-success" style="width: 100%">Enregistrer <i class="fa fa-check"></i></button>
            </div>
          </div>
        </div>
      </form>
  </div>
</ng-template>

<!-- Modal FORM FOR ADD COACHING SESSION -->
<ng-template #addSession let-modal>
  <div class="modal-header" >
    Ajouter une session
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addCoachingSessionFurmGroup" (submit)="saveCoachingSession()">
      <div class="form-group">
        <label>Titre</label>
        <input type="text" class="form-control"required formControlName="label" placeholder="titre de la session" >
      </div>
      <div class="form-group">
        <label>Date de début</label>
        <input type="date" class="form-control"required formControlName="label" placeholder="titre du service" >
      </div>
      <div class="form-group">
        <label>Date de fin</label>
        <input type="date" class="form-control"required formControlName="label" placeholder="titre du service" >
      </div>
      <div>
        <button type="submit"  (click)="modal.close('Close click')" class="btn btn-success" style="background-color:#F5B669 !important;width: 100%">Enregistrer <i class="fa fa-check"></i></button>
      </div>
    </form>
  </div>
</ng-template>
<!-- END Modal FORM FOR ADD COACHING SESSION -->

<!-- MODAL  FORM FOR UPDATE COACHING -->

<ng-template #contentUpdate let-modal>
  <div class="modal-header" >
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="form"  (submit)="updateCoaching(currentCoaching.id)">
        <div class="my-4 text-center">
          <h2>Modification Formation</h2>
        </div>
                <div class="form-group row">
                  <div class="col-md-6 col-xl-4">
                    <label>Type de service</label>
                  </div>
                  <div class="col-md-6 col-xl-8">
                    <select formControlName="type" class="form-control" required  >
                      <option value="">-- Choisir un type de service --</option>
                      <option value="{{item}}" *ngFor="let item of types">{{item}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6 col-xl-4">
                    <label>Titre</label>
                  </div>
                  <div class="col-md-6 col-xl-8">
                    <input type="text" class="form-control"required formControlName="title" placeholder="entrée le titre " >
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6 col-xl-4">
                    <label>Debut Formation</label>
                  </div>
                  <div class="col-md-6 col-xl-8">
                    <input type="date" class="form-control"  required formControlName="startDate" placeholder="Date de debut du service de coaching et/ou encadrement" >
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6 col-xl-4">
                    <label>Fin Formation</label>
                  </div>
                  <div class="col-md-6 col-xl-8">
                    <input type="date" class="form-control"  required formControlName="dateFinFormation" placeholder="Date fin de coaching et/ou encadrement" >
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6 col-xl-4">
                    <label>Date limite d'enregistrement</label>
                  </div>
                  <div class="col-md-6 col-xl-8">
                    <input type="date" class="form-control"required formControlName="dateLimiteDenregistrement">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6 col-xl-4">
                    <label>Frequence de deroulement</label>
                  </div>
                  <div class="col-md-6 col-xl-8">
                    <select formControlName="frequency" class="form-control" required  >
                      <option value="">-- Choisir une frequence de deroulement --</option>
                      <option value="{{item}}" *ngFor="let item of frequencies">{{item}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6 col-xl-4">
                    <label>Nom du formateur ou de l'institution</label>
                  </div>
                  <div class="col-md-6 col-xl-8">
                    <input type="text" class="form-control"  required formControlName="builderName" placeholder="Nom du formateur ou de l'institution" >
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6 col-xl-4">
                    <label>Email contact</label>
                  </div>
                  <div class="col-md-6 col-xl-8">
                    <input type="email" class="form-control"  required formControlName="email" placeholder="Entrer l'adresse email contact" >
                  </div>
                </div>
  
                <div class="form-group row">
                  <div class="col-md-6 col-xl-4">
                    <label>Numéro téléphone</label>
                  </div>
                  <div class="col-md-6 col-xl-8">
                    <input type="text" class="form-control"required formControlName="phone" placeholder="numéro de téléphone" >
                  </div>
                </div>
  
                <div class="form-group row">
                  <div class="col-md-6 col-xl-4">
                    <label>Province</label>
                  </div>
                  <div class="col-md-6 col-xl-8">
                    <select formControlName="province" class="form-control" required  >
                      <option value="">-- Choisir une province --</option>
                      <option value="{{item}}" *ngFor="let item of provinces">{{item}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6 col-xl-4">
                    <label>Commune</label>
                  </div>
                  <div class="col-md-6 col-xl-8">
                    <select formControlName="commune" (click)="selector()" class="form-control" required  >
                      <option value="">-- Choisir une commune --</option>
                      <option value="{{item}}" *ngFor="let item of communes">{{item}}</option>
                    </select>
                  </div>
                </div>             
                <div class="form-group row">
                  <div class="col-md-6 col-xl-4">
                    <label>Montant du service</label>
                  </div>
                  <div class="col-md-6 col-xl-8">
                    <input type="number" class="form-control"  required formControlName="amount" placeholder="Entrer le montant de cette prestation" >
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6 col-xl-4">
                    <label >Devise: </label>
                  </div>
                  <div class="col-md-6 col-xl-8">
                    <select formControlName="devise" class="form-control" >
                      <option value="">-- Choisissez une devise --</option>
                      <option value="USD">US Dollars</option>
                      <option value="EURO">Euro</option>
                      <option value="BIF">Franc Burundais</option>
                      <option value="Shilling">Shilling</option>
                      <option value="FCFA">Franc CFA</option>
                      <option value="FC">Franc Congolais</option>
                    </select>
                  </div>
                </div>
  
                <div class="form-group row">
                  <div class="col-md-6 col-xl-4">
                    <label>Description</label>
                  </div>
                  <div class="col-md-6 col-xl-8">
                    <textarea  rows="6" class="form-control" placeholder="description" formControlName="description" ></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6 col-xl-4">
                    <label>Image de couverture</label>
                  </div>
                  <div class="col-md-6 col-xl-8">
                    <div *ngIf="message" class="alert alert-danger">
                      <span>{{message}}</span>
                    </div>
                    <input type="file" class="form-control"  name="logo" (change)="onFilesSelect($event)"  placeholder="Image de profile" >
                  </div>
                </div>

      <br>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-secondary" style="width: 100%" (click)="modal.close('Close click')"><i class="fa fa-long-arrow-left"></i>&nbsp;Retour</button>
          </div>
          <div class="col-md-6">
            <button type="submit"  (click)="modal.close('Close click')" class="btn btn-success" style="width: 100%">Enregistrer <i class="fa fa-check"></i></button>
          </div>
        </div>
      </div>
      </form>
  </div>
</ng-template>


<!-------------------------------------------------------DELETE COACHING START------------------------------------------------------------>
<ng-template #contentDelete let-modal>
  <div class="modal-header dark-modal" >
    <h4 class="modal-title" >Confirmation de Suppression!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p style="color: red;">Voulez vous vraiment supprimer ce coaching??&hellip;</p>
  </div>
  <!--<hr class="my-4" style="background-color: salmon;" />-->

  <div class="modal-footer" >
    <div class="row">
      <!-- <div class="col-md-4 "></div> -->
      <div class="col-md-4 ">
        <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Annuler</button>
      </div> &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-md-4 ">
        <button type="button" class="btn btn-danger"
                (click)="onDelete() + modal.close('Close click')">Supprimer</button>
      </div>
    </div>
  </div>

</ng-template>
<!-------------------------------------------------------DELETE COACHING END-------------------------------------------------------------->



<!-------------------------------------------------------DELETE SESSION COACHING START------------------------------------------------------------>
<ng-template #contentDeleteSession let-modal>
  <div class="modal-header dark-modal" style="background-color:#F45B3A !important;">
    <h4 class="modal-title" style="color:whitesmoke">Confirmation de Suppression!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p style="color: red;">Voulez vous vraiment supprimer cette session??&hellip;</p>
  </div>
  <!--<hr class="my-4" style="background-color: salmon;" />-->

  <div class="modal-footer" style="background-color:#4051e9;">
    <div class="row">
      <!-- <div class="col-md-4 "></div> -->
      <div class="col-md-4 ">
        <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Annuler</button>
      </div> &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-md-4 ">
        <button type="button" class="btn btn-danger"
                (click)="onDeleteSession() + modal.close('Close click')">Supprimer</button>
      </div>
    </div>
  </div>

</ng-template>
<!-------------------------------------------------------DELETE SESSION COACHING END-------------------------------------------------------------->



<!-- MODAL  FORM FOR ADD ABONNEMENT -->

<ng-template #contentAddAbon let-modal>
  <div class="modal-header" style="background-color:#F45B3A !important;">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="abonForm" (submit)="saveAbonnement()" >
      <h3 class="text-center" style="font-size: 32px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Page d'enregistrement d'un abonnement</h3>
      <div class="form-group">
        <label class="text-muted">Date de votre abonnement :</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-calendar"></i></span>          </div>
          <input type="date" class="form-control" formControlName="startDate"  autocomplete="startDate" />
        </div>
      </div>
      <div class="form-group">
        <label class="text-muted">Date de fin d'abonnement:</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
          </div>
          <input type="date" class="form-control" formControlName="endDate"  autocomplete="endDate" />

        </div>
      </div>

      <div class="form-group">
        <label class="text-muted">Type abonnement :</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
          </div>
          <select   class="form-control" formGroupName="type">
            <option value="" disabled>-- Choisissez un type d'abonnement --</option>
            <option *ngFor="let item of types" value="{{item}}">{{item}}</option>
          </select>

        </div>
      </div>



      <button type="submit" class="btn btn-block btn-success" >Enregistrer</button>
    </form>

  </div>
</ng-template>


<!-------------------------------------------------------DELETE Abonnement START------------------------------------------------------------>
<ng-template #contentDelete1 let-modal>
  <div class="modal-header dark-modal" style="background-color:#F45B3A !important;">
    <h4 class="modal-title" style="color:whitesmoke">Confirmation de Suppression!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p style="color: red;">Voulez vous vraiment supprimer cet Abonnement??&hellip;</p>
  </div>
  <!--<hr class="my-4" style="background-color: salmon;" />-->

  <div class="modal-footer" style="background-color:#F45B3A !important;">
    <div class="row">
      <!-- <div class="col-md-4 "></div> -->
      <div class="col-md-4 ">
        <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Annuler</button>
      </div> &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-md-4 ">
        <button type="button" class="btn btn-danger"
                (click)="onDeleteAbon() + modal.close('Close click')">Supprimer</button>
      </div>
    </div>
  </div>

</ng-template>
<!-------------------------------------------------------DELETE Abonnemnt END-------------------------------------------------------------->
