<app-header></app-header>
<!-- Header -->
<header class="header shop">
  <div class="middle-inner">
    <div class="container">
        <div class="search-bar-top">
          <form [formGroup]="produitForm" (submit)="onProduitSearch()"  >
            <div class="row">
              <div class="form-group col-xl-2 col-md-6">
                <select formControlName="category" class="form-control" >
                  <option value="" disabled>-- Choisir un secteur --</option>
                  <option value="{{item}}" *ngFor="let item of types">{{item}}</option>
                </select>
              </div>
              <div class="form-group col-xl-2 col-md-6">
                <select formControlName="name" (click)="namesSelector()" class="form-control" >
                  <option value="" disabled>-- Choisir un produit --</option>
                  <option value="{{item}}" *ngFor="let item of names">{{item}}</option>
                </select>
              </div>
              <div class="form-group col-xl-2 col-md-6">
                <input type="number" formControlName="quantity" class="form-control" placeholder="Quantite rechercher">
              </div>
              <div class="form-group col-md-6 col-xl-2">
                <select formControlName="province" class="form-control" >
                  <option value="" disabled>-- Choisir une province --</option>
                  <option value="">-- Listes des provinces --</option>
                  <option value="{{item}}" *ngFor="let item of provinces">{{item}}</option>
                </select>
              </div>
              <div class="form-group col-md-6 col-xl-2">
                <select formControlName="commune" (click)="selector()" class="form-control" >
                  <option value="" disabled>-- Choisir  une commune --</option>
                  <option value="" disabled>-- Liste des communes --</option>
                  <option value="{{item1}}" *ngFor="let item1 of communes">{{item1}}</option>
                </select>
              </div>
              <div class="top-search col-xl-2 col-md-6">
                <button type="submit" class="btn btn-default text-white" >
                  <i class="ti-search"></i>&nbsp; Rechercher
                </button>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
  <!-- Header Inner -->

</header>
<!--/ End Header -->




<!-- Start Product Area -->
<section >
  <div class="product-area section">

    <div class="container">

          <div class="section-title">
              <div class="alert alert-info text-center my-2">
                <h3>Resultats obtenus</h3>
              </div>
          </div>
      <br>&nbsp;
      
          <div class="product-info">
            <div class="nav-main">
            </div>
          </div>
            <div class="tab-content" id="myTabContent">

              <div class="tab-pane fade show active" *ngIf="(products.length > 0)" id="man" role="tabpanel">
                <div class="row">
                <div class="tab-single col-12 col-md-6 col-xl-4" style="overflow-y:scroll">
                  <div class="card-header alert alert-info my-2">
                    <h2>Liste des produits trouver</h2> 
                  </div>
                  <hr>
                    <div class=" col-12" *ngFor="let item of products ">
                      <!-- <div class=" col-12" *ngFor="let item of products | paginate: {itemsPerPage: 10, currentPage: p}"> -->
                          <a (click)="showDetails(item)" class="card text-center">
                            <h4><p >{{item?.name}}</p>
                              <span>{{item.user.username}}</span>
                            </h4>
                            <div class="product-price">
                              <p class="price with-discount">{{item?.price+' '+item?.devise}}</p>
                            </div>
                          </a> 
                          <hr>
                    </div>
                </div>
                <div class=" col-12 col-md-6 col-xl-8"  style="overflow-y:scroll">
                  <div class="card-header alert alert-info my-2">
                    <h2>Detail d'un produit</h2> 
                  </div>
                  <hr>
                  <main  *ngIf="isSelected" style="width: 100%;">
                    <div class="row no-gutters">
                      <div class="col-sm-5 border-right px-3">
                        <article class="gallery-wrap">
                          <div class="img-big-wrap">
                            <div> <a href="currentProduct.pictureUrl" data-fancybox=""><img style="width:100%; height:200px" [src]="currentProduct.pictureUrl"></a></div>
                          </div> <!-- slider-product.// -->
                          
                        </article> <!-- gallery-wrap .end// -->
                      </div>
                      <div class="col-sm-7 px-3">
                        <article class="card-body text-center">
                          <!-- short-info-wrap -->
                          <h3 class="title mb-3">{{currentProduct.name}}</h3>
                  
                          <div class="mb-3">
                            <var class="price h3 text-price">
                              <span class="num"> {{currentProduct.price+' '+currentProduct.devise+' / '+currentProduct.measure}}</span>
                            </var>
                            <!--<span>/per kg</span>-->
                          </div> <!-- price-detail-wrap .// -->
                        </article> <!-- card-body.// -->
                      </div> <!-- col.// -->
                    </div>
                    <div class=" no-gutters"> 
                      <div class="col-sm-12">
                        <div class="card-body">
                          
                          <dl>
                            <dt>Description :</dt>
                            <dd><p>{{currentProduct.description}} </p></dd>
                          </dl>
                          <dl class="row">
                            <dt class="col-sm-4">Code :</dt>
                            <dd class="col-sm-8">{{currentProduct.code}}</dd>
                            <dt class="col-sm-4">Secteur :</dt>
                            <dd class="col-sm-8">{{currentProduct.sector}}</dd>
                            <dt class="col-sm-4">Catégorie :</dt>
                            <dd class="col-sm-8">{{currentProduct.category}}</dd>
                            <dt class="col-sm-4">Province :</dt>
                            <dd class="col-sm-8">{{currentProduct.province}}</dd>
                  
                            <dt class="col-sm-4">Commune :</dt>
                            <dd class="col-sm-8">{{currentProduct.commune}}</dd>
                            <dt class="col-sm-4">Producteur/prestataire :</dt>
                            <dd class="col-sm-8">{{currentProduct.user.username}}</dd>
                            <dt class="col-sm-4">Telephone :</dt>
                            <dd class="col-sm-8">{{currentProduct.user.phone}}</dd>
                  
                            <dt class="col-sm-4">Disponibilité :</dt>
                            <dd class="col-sm-8 text-success" *ngIf="currentProduct.status">En Stock ( {{currentProduct.quantity+' '+currentProduct.measure}})</dd>
                            <dd class="col-sm-8 text-warning" *ngIf="!currentProduct.status">Non disponible</dd>
                          </dl>
                          <hr>
                          <!-- row.// -->
                          <p>Passez votre commande en remplissant le formulaire via le bouton ci-dessous</p>
                          <hr>
                          <button  class="btn  btn-primary"  (click)="openModalFormulaire(contentAdd,currentProduct)"> <i class="fa fa-shopping-cart"></i> Passer ma commande</button>
                          <br>
                          <!-- short-info-wrap .// -->
                        </div> <!-- card-body.// -->
                      </div> <!-- col.// -->
                    </div> <!-- row.// -->
                  </main>
                </div>
              </div>
              </div>
              <!-- <div class="card-footer py-4">
                <nav aria-label="...">
                  <ul class="pagination justify-content-end mb-0">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </ul>
                </nav>
              </div> -->
            </div>
            <div class="tab-single my-4">
              <div class="card-body">
                <h2>Disponibilite dans les provinces</h2>
              </div>
              <div class="row">
                <div class="col-xl-3 col-md-6 col-12" *ngFor="let item of searchData">
                  <div  class="single-product">
                    <div  class="product-img">
                      <a (click)="loadSearchedProduitByLocation(item.province)">
                        <span>{{item.province+' ('+item.count+')'}}</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
  </div>
          
</section>
<!-- End Product Area -->
<ng-template #contentAdd let-modal>
  <div class="modal-header" style="background-color:#4051e9;">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body px-5">
    <form [formGroup]="orderForm" (submit)="onSaveSubscribe(currentProduct.id)">
      <h2>Formulaire d'enregistrment d'une commande</h2>

          <div class="form-group">
            <label>Nom</label>
            <input type="text" formControlName="name" class="form-control" placeholder="Votre nom d'utilisateur">
          </div>

          <div class="form-group">
            <label>Email</label>
            <input type="email" formControlName="email" class="form-control" placeholder="Entrer votre adresse email" >
          </div>
          <div class="form-group ">
            <label >Province</label>
            <select formControlName="province" class="form-control" >
              <option value="" disabled>-- Choisir une province --</option>
              <option value="">-- Listes des provinces --</option>
              <option value="{{item}}" *ngFor="let item of provinces">{{item}}</option>
            </select>
          </div>
          <div class="form-group ">
            <label >Commune</label>
            <select formControlName="commune" (click)="selectorOrder()" class="form-control" >
              <option value="" disabled>-- Choisir  une commune --</option>
              <option value="" disabled>-- Liste des communes --</option>
              <option value="{{item1}}" *ngFor="let item1 of communes">{{item1}}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Numéro téléphone (Entrer votre telephone avec le code du pays +243 97XXXXXXX)</label>
            <input type="text" formControlName="phone"  class="form-control" placeholder="Entrer votre numero de telephone">
          </div>

          <div class="form-group">
            <label>Quantite</label>
            <input type="number" formControlName="quantity" class="form-control" placeholder="Quantite demande">
          </div>

          <div class="form-group">
            <label>Lieu de Livraison</label>
            <input type="text" formControlName="lieuDeLivraison" class="form-control" placeholder="Lieu de livraison">
          </div>
          <div class="form-group">
            <label>Date de Livraison</label>
            <input type="date" formControlName="dateDeLivraison" class="form-control" placeholder="Date de livraison">
          </div>
          <div class="form-group">
            <label>Heure de Livraison</label>
            <select formControlName="heureDeLivraison" class="form-control"  id="">
              <option value="">-- Choisir un interval de temps pour vous faire livree --</option>
              <option *ngFor="let item of intervalsHours" value="{{item}}">{{item}}</option>
            </select>
          </div>
      <br>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-secondary" style="width: 100%" (click)="modal.close('Close click')"><i class="fa fa-long-arrow-left"></i>&nbsp;Retour</button>
          </div>
          <div class="col-md-6">
            <button type="submit"  (click)="modal.close('Close click')" class="btn btn-success" style="width: 100%">Enregistrer <i class="fa fa-check"></i></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<!-- End Product Area -->
<ng-template #contentBuy let-modal>
  <div class="modal-header" style="background-color:#4051e9;">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body px-5">
    <form [formGroup]="buyForm" (submit)="onBuy(currentProduct.id)">
      <h2>Payez directement votre produit</h2>
          <div class="form-group">
            <label>Numéro téléphone (Entrer votre telephone avec le code du pays +243 97XXXXXXX)</label>
            <input type="text" formControlName="phone" class="form-control" placeholder="Entrer votre numero de telephone">
          </div>

          <div class="form-group">
            <label>Quantite</label>
            <input type="number" formControlName="quantity" class="form-control" placeholder="Quantite demande">
          </div>

          <div class="form-group">
            <label>Lieu de Livraison</label>
            <input type="text" formControlName="lieuDeLivraison" class="form-control" placeholder="Lieu de livraison">
          </div>
          <div class="form-group">
            <label>Date de Livraison</label>
            <input type="date" formControlName="dateDeLivraison" class="form-control" placeholder="Date de livraison">
          </div>
          <div class="form-group">
            <label>Heure de Livraison</label>
            <select formControlName="heureDeLivraison" class="form-control"  id="">
              <option value="">-- Choisir un interval de temps pour vous faire livree --</option>
              <option *ngFor="let item of intervalsHours" value="{{item}}">{{item}}</option>
            </select>
          </div>
      <br>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-secondary" style="width: 100%" (click)="modal.close('Close click')"><i class="fa fa-long-arrow-left"></i>&nbsp;Retour</button>
          </div>
          <div class="col-md-6">
            <button type="submit"  (click)="modal.close('Close click')" class="btn btn-success" style="width: 100%">Enregistrer <i class="fa fa-check"></i></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>

<!-- TOAST MESSAGE TEMPLATE -->
<p-toast position="top-right"></p-toast>
<p-toast position="bottom-center" key="c" (onClose)="onReject()" >
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
        <a href="/" class="btn btn-primary">Connexion ?</a>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6">
          <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
        </div>
        <div class="p-col-6">
          <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<app-footer></app-footer>
