<app-header></app-header>
<!-- Header -->
<header class="header shop">
  <div class="middle-inner">
    <div class="container">
        <div class="search-bar-top">
          <form [formGroup]="produitForm" (submit)="onProduitSearch()"  >
            <div class="row">
              <div class="form-group col-xl-3 col-md-6">
                <select formControlName="category" class="form-control" >
                  <option value="" disabled>-- Choisir un secteur --</option>
                  <option value="{{item}}" *ngFor="let item of types">{{item}}</option>
                </select>
              </div>
              <div class="form-group col-xl-2 col-md-6">
                <select formControlName="name" (click)="namesSelector()" class="form-control" >
                  <option value="" disabled>-- Choisir un produit --</option>
                  <option value="{{item}}" *ngFor="let item of names">{{item}}</option>
                </select>
              </div>
              <div class="form-group col-md-6 col-xl-2">
                <select formControlName="province" class="form-control" >
                  <option value="" disabled>-- Choisir une province --</option>
                  <option value="">-- Listes des provinces --</option>
                  <option value="{{item}}" *ngFor="let item of provinces">{{item}}</option>
                </select>
              </div>
              <div class="form-group col-md-6 col-xl-2">
                <select formControlName="commune" (click)="selector()" class="form-control" >
                  <option value="" disabled>-- Choisir  une commune --</option>
                  <option value="" disabled>-- Liste des communes --</option>
                  <option value="{{item1}}" *ngFor="let item1 of communes">{{item1}}</option>
                </select>
              </div>
              <div class="top-search col-xl-3 col-md-6">
                <button type="submit" class="btn btn-default text-white" >
                  <i class="ti-search"></i>&nbsp; Rechercher
                </button>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
  <!-- Header Inner -->

</header>
<!--/ End Header -->




<!-- Start Product Area -->
<section >
  <div class="product-area section">

    <div class="container">

          <div class="section-title">
              <div class="alert alert-info text-center my-2">
                <h3>Resultats obtenus</h3>
              </div>
          </div>
      <br>&nbsp;
      
          <div class="product-info">
            <div class="nav-main">
            </div>
          </div>




            <div class="tab-content" id="myTabContent">

              <div class="tab-pane fade show active" *ngIf="(products.length > 0)" id="man" role="tabpanel">
                <div class="tab-single row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-12" *ngFor="let item of products | paginate: {itemsPerPage: 10, currentPage: p}">
                      <div  class="single-product">
                        <div  class="product-img">
                          <a href="/ecommerce/product/detail/{{item?.id}}">
                            <img class="default-img" [src]="item.pictureUrl" alt="#">
                            <img class="hover-img" [src]="item.pictureUrl" alt="#">
                          </a>
                          <div class="button-head">
                            <div class="product-action-2">
                              <a   href="/ecommerce/product/detail/{{item?.id}}"></a>
                            </div>
                          </div>
                        </div>
                        <div class="product-content">
                          <a href="/ecommerce/product/detail/{{item?.id}}">
                            <h4><p >{{item?.name}}</p></h4>
                          </a>

                          <div class="product-price">
                            <p class="price with-discount">{{item?.price+' '+item?.devise}}</p>
                            <span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="card-footer py-4">
                <nav aria-label="...">
                  <ul class="pagination justify-content-end mb-0">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="tab-single my-4">
              <div class="card-body">
                <h2>Produits/Services similaires</h2>
              </div>
              <div class="row">
                <div class="col-xl-2 col-md-6 col-12" *ngFor="let item of lists">
                  <div  class="single-product">
                    <div  class="product-img">
                      <a href="/ecommerce/product/detail/{{item?.id}}">
                        <img class="default-img" [src]="item.pictureUrl" alt="#">
                        <img class="hover-img" [src]="item.pictureUrl" alt="#">
                      </a>
                      <div class="button-head">
                        <div class="product-action-2">
                          <a   href="/ecommerce/product/detail/{{item?.id}}">{{item.quantity}}</a>
                        </div>
                      </div>
                    </div>
                    <div class="product-content">
                      <a href="/ecommerce/product/detail/{{item?.id}}">
                        <h4><p >{{item?.name}}</p></h4>
                      </a>

                      <div class="product-price">
                        <p class="price with-discount">{{item?.province+' '+item?.commune}}</p>
                        <span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
  </div>
          
</section>
<!-- End Product Area -->

<app-footer></app-footer>
