<app-header></app-header>

<section class="hero-slider3">
    <div class="container">
        <div class="text-center">
            <h2 class="section-title" style="font: 3em Roboto, sans-serif;">A propos</h2>
        </div>
    </div>   
</section>
<section class="hero-slider3">
    <div class="container">
        <div class="card mx-4 my-3">
            <p style="font-size: 20px;">Yesb Inspire est une plateforme à vocation de booster l’entrepreneuriat africain au niveau rural comme dans le milieu citadin.</p>
        </div>
        <div class="card mx-4 my-3">
            <p style="font-size: 20px;">Avec ses richesses innombrables, une oisiveté décriée, des diplômés qui n’arrivent pas à déclencher leur réinsertion dans le monde professionnel, Yesb-Inspire vient répondre aux besoins de l’Afrique et est conçue pour inspirer.</p>
        </div>
        <div class="card mx-4 my-3">
            <p style="font-size: 20px;">S’inspirer de ceux qui ont réussi, s’inspirer des experts et professionnels de l’entrepreneuriat.</p>
        </div>
        <div class="card mx-4 my-3">
            <p style="font-size: 20px;">Quelques avantages et opportunités de la plateforme:  <br>
                ⁃	elle permet de se former: identifier vos besoins d’abord, vos échecs et trouver un coach en ligne pour vous former et vous suivre. <br>
                ⁃	Elle permet de faire des opérations  d’ achats et vente en ligne. Une adaptation facile des services d’achat et vente des biens et services en ligne dans le pays et bientôt dans le monde entier.<br>
                ⁃	 Elle facile une connexion aux opérateurs des services des crédits pour accompagner les petites et moyennes entreprises ainsi que le petit commerce<br>
                ⁃	Elle permet à tous ceux qui n’ont pas d’accès au téléphone intelligent de passer toutes les opérations<br>
                ⁃	Grâce aux kiosques Yesb-Inspire éparpillés dans tous les pays et dans la région ( pays frontaliers), avec ou sans téléphone allez acheter et vendre à votre guise.<br>
                ⁃	Yesb-Inspire facilite la livraison.</p>
        </div>
        <div class="card alert-success mx-4 my-3 text-center">
            <p style="font-size: 20px;">YesB-Inspire inspire.
            </p>
        </div>
    </div>

</section>
<app-footer></app-footer>

 



                
