<app-admin-sidebar></app-admin-sidebar>
<div class="main-content">
  <!-- Top navbar -->
  <app-admin-navbar></app-admin-navbar>
  <div class="header  pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <h1>Detail d'un produit</h1>
      </div>
      <div class="header-body">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="card-image d-flex justify-content-center m-3">
                  <img [src]="currentProduct?.pictureUrl" height="100" alt="" >
                </div>
                <table class="table table-bordered">
                  <tr>
                    <td>Nom du produit</td>
                    <td>{{currentProduct?.name}}</td>
                  </tr>
                  <tr>
                    <td>Categorie</td>
                    <td>{{currentProduct?.category}}</td>
                  </tr>
                  <tr>
                    <td>Secteur </td>
                    <td>{{currentProduct?.sector}}</td>
                  </tr>
                  <tr>
                    <td>Code</td>
                    <td>{{currentProduct?.code}}</td>
                  </tr>
                  <tr>
                    <td>Quantite en stock</td>
                    <td>{{currentProduct?.quantity+' '+currentProduct?.measure}}</td>
                  </tr>
                  <tr>
                    <td>Prix unitaire</td>
                    <td>{{currentProduct?.price+' '+currentProduct?.devise+'/'+currentProduct?.measure}}</td>
                  </tr>
                  <tr>
                    <td>Province</td>
                    <td>{{currentProduct?.province}}</td>
                  </tr>
                  <tr>
                    <td>Commune</td>
                    <td>{{currentProduct?.commune}}</td>
                  </tr>
                  <tr>
                    <td>Description du produit</td>
                    <td>{{currentProduct?.description}}</td>
                  </tr>
                </table>
                
              </div>
            </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0" >
            <div class="row">
            <div class="col-md-6 col-lg-2">
              <button (click)="onBack()" pButton icon="fa fa-long-arrow-left" style="float:left;background-color:black;" label="Retour"></button>
            </div>
            <div *ngIf="!isClient" class="col-md-6 col-lg-4">
              <button (click)="openModalProduct(contentAdd)" pButton icon="fa fa-pencil" style="float:left;background-color:black;" label="Mettre a jours Produit"></button>
            </div>
            <div *ngIf="!isClient" class="col-md-6 col-lg-3">
              <button (click)="showOrders()" pButton icon="fa fa-cart-arrow-down" style="float:left;background-color:black;" label="Les Commandes"></button>
            </div>
            <div *ngIf="!isClient" class="col-md-6 col-lg-3">
              <button (click)="showUpdates()" pButton icon="fa fa-list" style="float:left;background-color:black;" label="Les mises a jours"></button>
            </div>
            
          </div>
          </div>
          <div *ngIf="isUpdate" class="table-responsive">
            <div class="row">
            <div class="col-md-6 col-lg-6  my-4 text-center" >
              <h2>Tableau de mises a jours</h2>
            </div>
            <div class="col-md-6 col-lg-6  my-2" >
              <label >Recherche <i class="fa fa-search"></i></label>
              <input type="text" class="form-control" >
            </div>
          </div>
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col">Action mener</th>
                <th scope="col">Quantite</th>
                <th scope="col">Date </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of lists | filter:searchItem | paginate: {itemsPerPage: 10, currentPage: p}">
                <td>{{item?.motif}}</td>
                <td>
                  {{item?.quantity}}
                </td>
                <td>
                  {{item?.actionDate}}
                </td>
              </tr>

              </tbody>
            </table>
          </div>
          <div *ngIf="isOrder" class="table-responsive">
            <div class="row">
              <div class="col-md-6 col-lg-6 text-center my-4" >
                <h2>Commandes</h2>
              </div>
              <div class="col-md-6 col-lg-6  my-2" >
                <label >Recherche <i class="fa fa-search"></i></label>
                <input type="text" class="form-control" >
              </div>
            </div>
            
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col">Nom Produit</th>
                <th scope="col">Quantite</th>
                <th scope="col">Prix unitaire </th>
                <th scope="col">Prix total </th>
                <th scope="col">Date </th>
                <th scope="col">Actions </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of orders | filter:searchItem | paginate: {itemsPerPage: 10, currentPage: p}">
                <td>{{item?.produit.name}}</td>
                <td>
                  {{item?.quantity}}
                </td>
                <td>
                  {{item?.produit.price+'/'+item?.produit.measure}}
                </td>
                <td>{{item?.amount}}</td>
                <td>{{item?.orderDate}}</td>
                <td><button (click)="getOrder(contentOrder, item)" class="btn btn-primary "><i class="pi pi-eye"></i></button></td>
              </tr>

              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </ul>
            </nav>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Pages End -->
  <div class="container-fluid">
    <app-admin-footer></app-admin-footer>
  </div>
</div>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>

<!-- TOAST MESSAGE TEMPLATE -->
<p-toast position="top-right"></p-toast>
<p-toast position="bottom-center" key="c" (onClose)="onReject()" >
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6">
          <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
        </div>
        <div class="p-col-6">
          <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<!-------------------------------------------------------ADD MISE A JOUR START-------------------------------------------------------------->

<ng-template #contentAdd let-modal>
  <div class="modal-header" >
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body mx-5">
    <form #addingForm="ngForm" (ngSubmit)="onSubmit(addingForm.value)">
      <div class="text-center my-3">
        <h2>Mise a jour du produit</h2>
      </div>
      
        <div class="form-group row">
          <div class="col-xl-4 col-md-6">
            <label>Quantite </label>
          </div>
          <div class="col-xl-8 col-md-6">
            <input type="number" class="form-control"  required  placeholder="Quantite a ajouter/enlever" name="quantity" ngModel>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xl-4 col-md-6">
            <label>Type d'action </label>
          </div>
          <div class="col-xl-8 col-md-6">
            <select  name="motif"  class="form-control" ngModel>
              <option value="" disabled>-- Choisir une action a mener votre article --</option>
              <option value="AJOUT" >Ajouter</option>
              <option value="RETRAIT" >Retirer</option>
            </select>
          </div>
        </div>
       <br>
       
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-secondary" style="width: 100%" (click)="modal.close('Close click')" ><i class="fa fa-long-arrow-left"></i>&nbsp;Retour</button>
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-success" style="width: 100%" (click)="modal.close('Close click')" >Enregistrer <i class="fa fa-check"></i></button>
          </div>
        </div>
      </div>
    </form>

  </div>
</ng-template>

<!-------------------------------------------------------ADD PRODUCT END-------------------------------------------------------------->

<!-------------------------------------------------------DETAIL ORDER START-------------------------------------------------------------->

<ng-template #contentOrder let-modal>
  <div class="modal-header" >
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form >
      <div class="card-body">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>Numero</td>
              <td>{{order.numero}}</td>
            </tr>
            <tr>
              <td>Nom du produit</td>
              <td>{{order.produit.name}}</td>
            </tr>
            <tr>
              <td>Quantite</td>
              <td>{{order.quantity}}</td>
            </tr>
            <tr>
              <td>Prix unitaire</td>
              <td>{{order.produit.price}}</td>
            </tr>
            <tr>
              <td>Prix total</td>
              <td>{{order.amount}}</td>
            </tr>
            <tr>
              <td>Status</td>
              <td>{{order.stats}}</td>
            </tr>
            <tr>
              <td>Nom du client</td>
              <td>{{order.clientName}}</td>
            </tr>
            <tr>
              <td>Telephone du client</td>
              <td>{{order.clientPhone}}</td>
            </tr>
            <tr>
              <td>Date de la commande</td>
              <td>{{order.orderDate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-secondary" style="width: 100%" (click)="modal.close('Close click')" ><i class="fa fa-long-arrow-left"></i>&nbsp;Retour</button>
          </div>
        </div>
      </div>
    </form>

  </div>
</ng-template>

<!-------------------------------------------------------DETAIL ORDER END-------------------------------------------------------------->


