<app-admin-sidebar></app-admin-sidebar>
<div class="main-content">
    <!-- Top navbar -->
    <app-admin-navbar></app-admin-navbar>
    <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
            <!-- Card stats -->

            </div>
        </div>
    </div>
    <!-- Pages -->
    <!-- Page content -->
    <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card shadow">
                <div class="card-header border-0" style="background-color:#F45B3A;">
                    <div class="col-md-6">
                        <!--(click)="openModalAddCompany(contentAdd)"-->
                        <button  pButton icon="fa fa-plus" style="float:left;background-color:#F7941D !important;" label="Nouveau financement"></button>
                    </div>
                    <div class="col-md-6 pull-right" style="width: 40%">
                        <label >Recherche <i class="fa fa-search"></i></label>
                        <input type="text" class="form-control" [(ngModel)]="searchItem">
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Intitule</th>
                                <th scope="col">Region</th>
                                <th scope="col">Montant</th>
                                <th scope="col">Banque</th>
                                <th scope="col">Mode de paiement</th>
                                <th scope="col">Secteur d'activité</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of lists | filter:searchItem | paginate: {itemsPerPage: 10, currentPage: p}">
                                <td style="width:5em; text-align:center; font-size: 0.75rem;">
                                    {{item?.intitule}}
                                </td>

                                <td style="width:5em; text-align:center; font-size: 0.75rem;">
                                    {{item?.region}}
                                </td>

                                <td style="width:5em; text-align:center; font-size: 0.75rem;">
                                    {{item?.amount}}
                                </td>

                                <td style="width:5em; text-align:center; font-size: 0.75rem;">
                                    {{item?.bankName}}
                                </td>
                                
                                <td style="width:5em; text-align:center; font-size: 0.75rem;">
                                    {{item?.paymentMode}}
                                </td>

                                <td style="width:5em; text-align:center; font-size: 0.75rem;">
                                    {{item?.secteurActivite}}
                                </td>
                                
                                <td class="text-right" style="width:5em; text-align:center; font-size: 0.75rem;">
                                    <div ngbDropdown placement="bottom-right">
                                        <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <a href="/admin/detail/boutique/{{item.id}}" class="btn btn-success m-1"><i class="pi pi-eye"></i></a>
                                            <button (click)="setBoutique(contentUpdate, item)" class="btn btn-primary m-1"><i class="pi pi-pencil"></i></button>
                                            <button  (click)="deleteBoutique(contentDelete, item)" class="btn btn-danger m-1"><i class="pi pi-trash"></i></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">

                    <nav aria-label="...">
                    <ul class="pagination justify-content-end mb-0">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </ul>
                    </nav>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <app-admin-footer></app-admin-footer>
    </div>
</div>


<!-- TOAST MESSAGE TEMPLATE -->

<!--<p-toast position="top-right"></p-toast>
<p-toast position="bottom-center" key="c" (onClose)="onReject()" >
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6">
          <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
        </div>
        <div class="p-col-6">
          <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>-->

<!-- MODAL  FORM FOR ADD Boutique -->

<!--<ng-template #contentAdd let-modal>

</ng-template>-->