<app-header></app-header>
<span></span><br>
<span></span><br>
<div class="app-body card mx-5 py-5" >
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form name="form" (ngSubmit) = "f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <h3 class="text-center" style="font-size: 32px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Page d'enregistrement pour demandeur de Micros-credits</h3>
                <p class="text-muted"><a href="/ecommerce/register/home"><i class="fa fa-long-arrow-left"></i>&nbsp; Retour </a></p>
                <div class="form-group">
                  <label class="text-muted">Nom complet :</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="pi pi-user"></i></span>
                  </div>
                  <input type="text" class="form-control" name="fullName" [(ngModel)]="form.fullName" #fullName="ngModel" placeholder="Votre nom complet"  autocomplete="name" required />
                  <div *ngIf="f.submitted && fullName.invalid">
                    <div *ngIf="fullName.errors.required">Vous devez entrer un nom</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="text-muted">Addresse  Email:</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" placeholder="Votre adresse email" required email />
                  <div *ngIf="f.submitted && email.invalid">
                    <div *ngIf="email.errors.required">Entrer une adresse email</div>
                    <div *ngIf="email.errors.email">Entrer une addresse email valide</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="text-muted">Mot de passe:</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel" placeholder="Votre Mot de passe" required  />
                  <div *ngIf="f.submitted && password.invalid">
                    <div *ngIf="password.errors.required">Entrer un mote de passe</div>
                    <div *ngIf="password.errors.password">Entrer un mot de passe valide</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="text-muted">Date de naissance :</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                  </div>
                  <input type="date" class="form-control" name="birthDay" [(ngModel)]="form.birthDay" placeholder="Date de naissance" #birthDay="ngModel"
                         required minlength="6" />
                  <div *ngIf="f.submitted && birthDay.invalid">
                    <div *ngIf="birthDay.errors.required">Vous devez entrer une date de naissance</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="text-muted">Numero de telephone :</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-phone"></i></span>
                  </div>
                  <input type="text" class="form-control" pattern="^\\(?([0-9]{3})\\)?[-,]?([0-9]{3})[-,]?([0-9]{4})$"  name="phone" [(ngModel)]="form.phone" placeholder="Numero de telephone" #phone="ngModel"
                         required minlength="6" />
                  <div *ngIf="f.submitted && phone.invalid">
                    <div *ngIf="phone.errors.required">Vous devez entrer un numero de telephone</div>
                    <div *ngIf="phone.errors?.pattern">phone is invalid</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="text-muted">Numero de la Carte Nationale d'Identite:</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                  </div>
                  <input type="text" class="form-control" name="idNumber" [(ngModel)]="form.idNumber" placeholder="Numero de la carte nationale d'identite" #idNumber="ngModel"
                         required minlength="6" />
                  <div *ngIf="f.submitted && idNumber.invalid">
                    <div *ngIf="idNumber.errors.required">Vous devez entrer un numero de votre CNI</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="text-muted">Province  :</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                  </div>
                  <select name="province" class="form-control" [(ngModel)]="form.province" #province="ngModel" id="">
                    <option value="" disabled>-- Choisissez une representation --</option>
                    <option *ngFor="let item of provinces" value="{{item}}">{{item}}</option>
                  </select>

                  <div *ngIf="f.submitted && province.invalid">
                    <div *ngIf="province.errors.required">Vous devez entrer une province</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="text-muted">Commune  :</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                  </div>
                  <select name="commune" (click)="selector()" class="form-control" [(ngModel)]="form.commune" #commune="ngModel" id="">
                    <option value="" disabled>-- Liste des Communes --</option>
                    <option *ngFor="let item of communes" value="{{item}}">{{item}}</option>
                  </select>

                  <div *ngIf="f.submitted && commune.invalid">
                    <div *ngIf="commune.errors.required">Vous devez entrer une commune</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="text-muted">Secteur d'activite :</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-vector-square"></i></span>
                  </div>
                  <select name="secteurActivite" pla class="form-control" [(ngModel)]="form.secteurActivite" #secteurActivite="ngModel" id="">
                    <option value="" disabled>-- Choisissez un type d'activite --</option>
                    <option *ngFor="let item of activites" value="{{item}}">{{item}}</option>
                  </select>

                  <div *ngIf="f.submitted && secteurActivite.invalid">
                    <div *ngIf="secteurActivite.errors.required">Vous devez entrer un secteur d'activite</div>
                  </div>
                </div>
              </div>

                <button type="submit" class="btn btn-block btn-success" >Enregistre</button>
                <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
                  Inscription echouer!<br/>{{errorMessage}}
                </div>
                <p>Deja un compte?</p>
                <a href="connexion" class="btn btn-primary">Connectez-vous</a>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<span></span><br>
<span></span><br>
<app-footer></app-footer>
