<app-admin-sidebar></app-admin-sidebar>
<div class="main-content">
  <!-- Top navbar -->
  <app-admin-navbar></app-admin-navbar>
  <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->

      </div>
    </div>
  </div>
  <!-- Pages -->
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0" style="background-color:#F5B669;">
            <div class="col-md-6">
              <button (click)="openModalAddCompany(contentAdd)"  class="btn btn-primary btn-lg">Nouvelle boutique</button>
            </div>
            <div class="col-md-6 pull-right" style="width: 40%">
                <label >Recherche <i class="fa fa-search"></i></label>
                <input type="text" class="form-control" [(ngModel)]="searchItem">
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col">Nom</th>
                <th scope="col">Localisation</th>
                <th scope="col">Region</th>
                <th scope="col">Telephones</th>
                <th scope="col">Code d'activation</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of lists | filter:searchItem | paginate: {itemsPerPage: 10, currentPage: p}">
                <td style="width:5 em; text-align:center; font-size: 0.75rem;">
                  {{item?.name}}
                </td>

                <td style="width:5 em; text-align:center; font-size: 0.75rem;">
                  {{item?.localisation}}
                </td>

                <td style="width:5 em; text-align:center; font-size: 0.75rem;">
                  {{item?.region}}
                </td>

                <td style="width:5 em; text-align:center; font-size: 0.75rem;">
                  {{item?.phone}}
                </td>

                <td style="width:5 em; text-align:center; font-size: 0.75rem;">{{item?.activationCode}} <br>
                  <a type="button" (click)="sendCode(item?.id)" class="btn btn-primary">Envoyer code</a>
                </td>

                <td *ngIf="!item?.status" style="width:5 em; text-align:center; font-size: 0.75rem;">
                  <span class="badge badge-dot mr-4"><i class="bg-warning"></i> Fermer</span>
                </td>

                <td *ngIf="item?.status" style="width:5 em; text-align:center; font-size: 0.75rem;">
                  <span class="badge badge-dot mr-4"><i class="bg-success"></i> Ouverte</span>
                </td>

                <td class="text-right" style="width:5 em; text-align:center; font-size: 0.75rem;">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a href="/admin/detail/boutique/{{item.id}}" class="btn btn-success m-1"><i class="pi pi-eye"></i></a>
                      <button (click)="setBoutique(contentUpdate, item)" class="btn btn-primary m-1"><i class="pi pi-pencil"></i></button>
                      <button  (click)="deleteBoutique(contentDelete, item)" class="btn btn-danger m-1"><i class="pi pi-trash"></i></button>

                    </div>
                  </div>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">

            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <app-admin-footer></app-admin-footer>
  </div>
</div>





<!-- TOAST MESSAGE TEMPLATE -->
<p-toast position="top-right"></p-toast>
<p-toast position="bottom-center" key="c" (onClose)="onReject()" >
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6">
          <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
        </div>
        <div class="p-col-6">
          <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>




<!-- MODAL  FORM FOR ADD Boutique -->

<ng-template #contentAdd let-modal>
  <div class="modal-header" style="background-color:#F5B669;">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p-card header="Simple Card" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
      <form [formGroup]="boutiqueFormGroup" (submit)="onSaveBoutique()">
        <h5>Boutique</h5>
        <div class="form-group">
          <label for="name">Nom de votre boutique</label>
          <input type="text" class="form-control" id="name" required formControlName="name" placeholder="Nom de l'article" >
        </div>

        <div class="form-group">
          <label for="montant">Localisation</label>
          <input type="text" class="form-control" id="montant" required formControlName="localisation" placeholder="Localisation de votre boutique">
        </div>
        <div class="form-group">
          <label for="marque">Numero de téléphone</label>
          <input type="text" class="form-control" id="marque" required formControlName="phone" placeholder="Entrer votre numero">
        </div>

        <div class="form-group">
          <label for="marque">Numero Carte</label>
          <input type="text" class="form-control" required formControlName="cardNumber" placeholder="Entrer votre numero de carte">
        </div>
        <div class="form-group">
          <label for="marque">Region</label>
          <input type="text" class="form-control"required formControlName="region" placeholder="Region">
        </div>

        <br>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn-secondary" style="width: 100%" (click)="modal.close('Close click')"><i class="fa fa-long-arrow-left"></i>&nbsp;Retour</button>
            </div>
            <div class="col-md-6">
              <button type="submit" class="btn btn-success" style="background-color:#F5B669 !important;width: 100%" (click)="modal.close('Close click')">Enregistrer <i class="fa fa-check"></i></button>
            </div>
          </div>
        </div>
      </form>
    </p-card>
  </div>
</ng-template>


<!-- MODAL  FORM FOR UPDATE Boutique -->

<ng-template #contentUpdate let-modal>
  <div class="modal-header" style="background-color:#F5B669;">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p-card header="Simple Card" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
      <form [formGroup]="boutiqueFormGroup" (submit)="updateBoutique()">
        <h5>Boutique</h5>
        <div class="form-group">
          <label >Nom de votre boutique</label>
          <input type="text" class="form-control"  required formControlName="name" placeholder="Nom de l'article" >
        </div>

        <div class="form-group">
          <label >Localisation</label>
          <input type="text" class="form-control"  required formControlName="localisation" placeholder="Localisation de votre boutique">
        </div>
        <div class="form-group">
          <label>Numero de téléphone</label>
          <input type="text" class="form-control"required formControlName="phone" placeholder="Entrer votre numero">
        </div>

        <div class="form-group">
          <label for="marque">Numero Carte</label>
          <input type="text" class="form-control" required formControlName="cardNumber" placeholder="Entrer votre numero de carte">
        </div>
        <div class="form-group">
          <label for="marque">Region</label>
          <input type="text" class="form-control"required formControlName="region" placeholder="Region">
        </div>

        <br>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn btn-cd " style="width: 100%" (click)="modal.close('Close click')"><i class="fa fa-long-arrow-left"></i>&nbsp;Retour</button>
            </div>

            <div class="col-md-6">
              <button type="submit" class="btn btn-success" style="background-color:#F5B669 !important;width: 100%" (click)="modal.close('Close click')">Update <i class="fa fa-check"></i></button>
            </div>
          </div>
        </div>
      </form>
    </p-card>
  </div>
</ng-template>


<!-------------------------------------------------------DELETE Boutique START-------------------------------------------------------------->
<ng-template #contentDelete let-modal>
  <div class="modal-header dark-modal" style="background-color:#F5B669;">
    <h4 class="modal-title" style="color:whitesmoke">Confirmation de Suppression!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p style="color: red;">Voulez vous vraiment supprimer cette boutique??&hellip;</p>
  </div>
  <!--<hr class="my-4" style="background-color: salmon;" />-->

  <div class="modal-footer" style="background-color:#F5B669;">
    <div class="row">
      <!-- <div class="col-md-4 "></div> -->
      <div class="col-md-4 ">
        <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Annuler</button>
      </div> &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-md-4 ">
        <button type="button" class="btn btn-danger"
                (click)="onDelete() + modal.close('Close click')">Supprimer</button>
      </div>
    </div>
  </div>

</ng-template>
<!-------------------------------------------------------DELETE Boutique END-------------------------------------------------------------->


