<app-admin-header></app-admin-header>
<div class=" my-2">
    <div class="alert-info title card-header  text-center">
      <h1>Mes boutiques</h1>
    </div>
  <div class="container-fluid my-2">
    <div class="row">
      <div class="col-md-6 py-3">
        <a href="/admin/add/boutique" class="btn btn-primary btn-lg">Nouvelle boutique</a>
      </div>
      <div class="col-md-6">
        <div class="form-group pull-right" style="width: 50%">
          <label >Recherche <i class="fa fa-search"></i></label>
          <input type="text" class="form-control" [(ngModel)]="searchItem">
        </div>
      </div>
    </div>

  </div>


    <hr>
    <div class="card-text">
      <table class="table table-responsive-md table-bordered">
        <thead class="title">
        <th>Nom</th>
        <th>Localisation</th>
        <th>Telephones</th>
        <th>Code d'activation</th>
        <th>Status</th>
        <th>Actions</th>
        </thead>
        <tbody>
        <tr *ngFor="let item of lists | filter:searchItem | paginate: {itemsPerPage: 10, currentPage: p}">
          <td>{{item.name}}</td>
          <td>{{item.localisation}}</td>
          <td><ul>
              <li>{{item.orangeNumber}}</li>
              <li>{{item.mtnNumber}}</li>
              <li>{{item.othernumber}}</li>
          </ul> </td>
          <td>{{item.activationCode}} <br>
          <a type="button" (click)="sendCode(item.id)" class="btn btn-primary">Envoyer code</a>
          </td>
          <td  > 
              <span *ngIf="!item.status" class="badge badge-danger">Fermer</span> 
              <span *ngIf="item.status" class="badge badge-success">Ouverte</span>   
        </td>
          <td>
            <a href="/admin/detail/boutique/{{item.id}}" class="btn btn-success m-1"><i class="fa fa-angle-double-right"></i></a>
            <a href="/admin/update/boutique/{{item.id}}" class="btn btn-secondary m-1"><i class="fa fa-edit"></i></a>
            <button  (click)="deleteProduct(item.id)" class="btn btn-danger m-1"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
