<app-admin-header></app-admin-header>

<div class=" my-2">
    <div class="alert-info title card-header  text-center">
      <h1>Mes boutiques</h1>
    </div>
  <div class="container-fluid my-2">
    <div class="row">
      <div class="col-md-6 py-3">

        <button (click)="openModalAddCompany(contentAdd)"  class="btn btn-primary btn-lg">Nouvelle boutique</button>
      </div>
      <div class="col-md-6">
        <div class="form-group pull-right" style="width: 50%">
          <label >Recherche <i class="fa fa-search"></i></label>
          <input type="text" class="form-control" [(ngModel)]="searchItem">
        </div>
      </div>
    </div>

  </div>


    <hr>
    <div class="card-text">
      <table class="table table-responsive-md table-bordered">
        <thead class="title">
        <th>Nom</th>
        <th>Region</th>
        <th>Telephones</th>
        <th>Code d'activation</th>
        <th>Status</th>
        <th>Actions</th>
        </thead>
        <tbody>
        <tr *ngFor="let item of lists | filter:searchItem | paginate: {itemsPerPage: 10, currentPage: p}">
          <td>{{item?.name}}</td>
          <td>{{item?.region}}</td>
          <td>{{item?.phone}} </td>
          <td>{{item?.activationCode}} <br>
          <a type="button" (click)="sendCode(item?.id)" class="btn btn-primary">Envoyer code</a>
          </td>
          <td *ngIf="!item?.status" class="alert alert-danger" >
              <span >Fermer</span>
          </td>
          <td *ngIf="item?.status" class="alert alert-success" >
            <span >Ouverte</span>
          </td>
          <td>
            <button href="/admin/detail/boutique/{{item.id}}" class="btn btn-success m-1"><i class="pi pi-eye"></i></button>
            <button (click)="setBoutique(contentUpdate, item)" class="btn btn-secondary m-1"><i class="pi pi-pencil"></i></button>
            <button  (click)="deleteBoutique(contentDelete, item)" class="btn btn-danger m-1"><i class="pi pi-trash"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>





<!-- TOAST MESSAGE TEMPLATE -->
<p-toast position="top-right"></p-toast>
<p-toast position="bottom-center" key="c" (onClose)="onReject()" >
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6">
          <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
        </div>
        <div class="p-col-6">
          <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>




<!-- MODAL  FORM FOR ADD Boutique -->

<ng-template #contentAdd let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p-card header="Simple Card" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
      <form [formGroup]="boutiqueFormGroup" (submit)="onSaveBoutique()">
        <h5>Boutique</h5>
        <div class="form-group">
          <label for="name">Nom de votre boutique</label>
          <input type="text" class="form-control" id="name" required formControlName="name" placeholder="Nom de l'article" >
        </div>

        <div class="form-group">
          <label for="montant">Localisation</label>
          <input type="text" class="form-control" id="montant" required formControlName="localisation" placeholder="Localisation de votre boutique">
        </div>
        <div class="form-group">
          <label for="marque">Numero de téléphone</label>
          <input type="text" class="form-control" id="marque" required formControlName="phone" placeholder="Entrer votre numero">
        </div>

        <div class="form-group">
          <label for="marque">Numero Carte</label>
          <input type="text" class="form-control" required formControlName="cardNumber" placeholder="Entrer votre numero de carte">
        </div>
        <div class="form-group">
          <label for="marque">Region</label>
          <input type="text" class="form-control"required formControlName="region" placeholder="Region">
        </div>

        <br>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-6">
              <a href="/admin/boutiques" class="btn btn-secondary" style="width: 100%"><i class="fa fa-long-arrow-left"></i>&nbsp;Retour </a>
            </div>
            <div class="col-md-6">
              <button type="submit" class="btn btn-success" style="width: 100%">Enregistrer <i class="fa fa-check"></i></button>
            </div>
          </div>
        </div>
      </form>
    </p-card>
  </div>
</ng-template>


<!-- MODAL  FORM FOR UPDATE Boutique -->

<ng-template #contentUpdate let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p-card header="Simple Card" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
      <form [formGroup]="boutiqueFormGroup" (submit)="updateBoutique()">
        <h5>Boutique</h5>
        <div class="form-group">
          <label for="name">Nom de votre boutique</label>
          <input type="text" class="form-control" id="name" required formControlName="name" placeholder="Nom de l'article" >
        </div>

        <div class="form-group">
          <label for="montant">Localisation</label>
          <input type="text" class="form-control" id="montant" required formControlName="localisation" placeholder="Localisation de votre boutique">
        </div>
        <div class="form-group">
          <label for="marque">Numero de téléphone</label>
          <input type="text" class="form-control" id="marque" required formControlName="phone" placeholder="Entrer votre numero">
        </div>

        <div class="form-group">
          <label for="marque">Numero Carte</label>
          <input type="text" class="form-control" required formControlName="cardNumber" placeholder="Entrer votre numero de carte">
        </div>
        <div class="form-group">
          <label for="marque">Region</label>
          <input type="text" class="form-control"required formControlName="region" placeholder="Region">
        </div>

        <br>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-6">
              <a href="/admin/boutiques" class="btn btn-secondary" style="width: 100%"><i class="fa fa-long-arrow-left"></i>&nbsp;Retour </a>
            </div>
            <div class="col-md-6">
              <button type="submit" class="btn btn-success" style="width: 100%">Enregistrer <i class="fa fa-check"></i></button>
            </div>
          </div>
        </div>
      </form>
    </p-card>
  </div>
</ng-template>


<!-------------------------------------------------------DELETE Boutique START-------------------------------------------------------------->
<ng-template #contentDelete let-modal>
  <div class="modal-header dark-modal" style="background-color:#F5B669;">
    <h4 class="modal-title" style="color:whitesmoke">Confirmation de Suppression!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p style="color: red;">Voulez vous vraiment supprimer cette boutique??&hellip;</p>
  </div>
  <!--<hr class="my-4" style="background-color: salmon;" />-->

  <div class="modal-footer" style="background-color:#F5B669;">
    <div class="row">
      <!-- <div class="col-md-4 "></div> -->
      <div class="col-md-4 ">
        <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Annuler</button>
      </div> &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-md-4 ">
        <button type="button" class="btn btn-danger"
                (click)="onDelete() + modal.close('Close click')">Supprimer</button>
      </div>
    </div>
  </div>

</ng-template>
<!-------------------------------------------------------DELETE Boutique END-------------------------------------------------------------->


