 <app-admin-header></app-admin-header>
  <div class=" my-2">
    <div class="title alert-info card-header  text-center">
      <h3>Formulaire d'ajout d'un article </h3>
    </div>

    <span class="text-success">{{message}}</span>
    <div class="card-body justify-content-center d-flex">
      <form  name="productForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate style="width: 80%">
        <div class="form-group">
          <label for="name">Nom de l'article</label>
          <input type="text" class="form-control" id="name" required [(ngModel)]="form.name" #name="ngModel" placeholder="Nom de l'article" name="name">
        </div>

        <div class="form-group">
          <label for="montant">Montant</label>
          <input type="number" class="form-control" id="montant" required [(ngModel)]="form.price" #price="ngModel" name="price" placeholder="Montant de votre article">
        </div>
        <div class="form-group">
          <label for="marque">Marque</label>
          <input type="text" class="form-control" id="marque" required [(ngModel)]="form.marque" #marque="ngModel" name="marque" placeholder="La marque de votre article">
        </div>
        <div class="form-group">
          <label for="color">Couleur</label>
          <select  [(ngModel)] ="form.color" multiple #color="ngModel" name="color"  id="color" class="form-control">
            <option value="" disabled>-- Choisir les couleurs disponible de votre article --</option>
            <option value="{{item}}"  *ngFor="let item of colors">{{item}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="categorie">Categorie</label>
          <select  [(ngModel)] ="form.category" #category="ngModel" name="category"  id="categorie" class="form-control">
            <option value="" disabled>-- Choisir une category de votre article --</option>
            <option value="{{item}}" *ngFor="let item of categories">{{item}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="genre">Genre</label>
          <select [(ngModel)]="form.genre" #genre ="ngModel" name="genre"   id="genre" class="form-control">
            <option value="" disabled>-- Choisir un genre pour votre article --</option>
            <option value="{{item}}" *ngFor="let item of types">{{item}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="quality">Qualite </label>
          <select [(ngModel)]="form.quality" #quality ="ngModel" name="quality"   id="quality" class="form-control">
            <option value="" disabled>-- Choisir une qualite pour votre article --</option>
            <option value="{{item}}" *ngFor="let item of qualities">{{item}}</option>
          </select>
        </div>
        <div class="form-group">
          <label >Description</label>
          <textarea name="description" class="form-control" [(ngModel)]="form.description" #description="ngModel" id="" rows="4"></textarea>
        </div>
        <br>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-6">
              <a href="/seller/detail/boutique/{{boutique.id}}" class="btn btn-secondary" style="width: 100%"><i class="fa fa-long-arrow-left"></i>&nbsp;Retour </a>
            </div>
            <div class="col-md-6">
              <button type="submit" class="btn btn-success" style="width: 100%">Enregistrer <i class="fa fa-check"></i></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

