<!-- Slider Area -->
<section class="hero-slider">
  <!-- Single Slider -->
  <div class="single-slider">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-9 offset-lg-3 col-12">
          <div class="text-inner">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Single Slider -->
</section>
<!--/ End Slider Area -->
<br>&nbsp;
<!-- Start Product Area -->
<div class="product-area section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h1 class="text-center">Liste de produits récents</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="product-info">

          <div class="tab-content" id="myTabContent">
            <!-- Start Single Tab -->
            <div class="tab-pane fade show active" id="man" role="tabpanel">
              <div class="tab-single">
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-4 col-12" *ngFor="let item of productOrders">
                    <div class="single-product img-wrap">
                      <div class="product-img">
                        <a href="/ecommerce/product/detail/{{item?.product.id}}">
                          <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
                          <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
                        </a>
                        <div class="button-head">
                          <div class="product-action">
                            <a  title="Quick View" href="/ecommerce/product/detail/{{item?.product.id}}"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                            <a type="button"  *ngIf="!isProductSelected(item?.product)" (click)="addToCart(item)" title="Add to cart" ><i class="fa fa-shopping-bag"></i><span>Add to cart</span>&nbsp;</a>

                          </div>
                          <div class="product-action-2">
                          </div>
                        </div>
                      </div>
                      <div class="product-content">
                        <h4 class="title"><a href="/ecommerce/product/detail/{{item?.product.id}}">{{item?.product.name}}</a></h4>
                        <div class="product-price">
                          <p class="price with-discount">FB {{item?.product.price}}</p>
                          <span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/ End Single Tab -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Product Area -->

<br>&nbsp;

<!-- Start Coaching  -->
<section class="shop-blog section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h1 class="text-center">Service d'encadrement et de coaching</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12" *ngFor="let coaching of coachings">
        <!-- Start Single Blog  -->
        <div class="shop-single-blog">
          <a href="/ecommerce/coaching/detail/{{coaching?.id}}">
              <img src="https://via.placeholder.com/370x300" alt="#">
          </a>
          <div class="content">
            <p class="date">{{coaching?.startDate}}</p>
            <a href="/ecommerce/coaching/detail/{{coaching?.id}}" class="title">{{coaching?.title}}</a>
            <a href="/ecommerce/coaching/detail/{{coaching?.id}}" class="more-btn">{{coaching?.description}}</a>
          </div>
        </div>
        <!-- End Single Blog  -->
      </div>
    </div>
  </div>
</section>
<!-- End Coaching  -->

<!-- Start Microfinancement -->
<section class="shop-blog section">
  <div class="container">
    
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h1 class="text-center">Liste de Micro-financement</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12" *ngFor="let m of microfinances">
        <!-- Start Single Blog  -->
        <div class="shop-single-blog">
          <a href="#">
            <img src="https://via.placeholder.com/370x300" alt="#">
          </a>
          <div class="content">
            <a href="#" class="title">{{m?.intitule}}</a>
            <a href="#" class="title">{{m?.secteurActivite}}</a>
            <p class="price">{{m?.amount}}</p>
            <a href="#" class="more-btn">{{m?.bankName}}</a>
            <a href="#" class="more-btn">{{m?.region}}</a>
          </div>
        </div>
        <!-- End Single Blog  -->
      </div>
    </div>
  </div>
</section>
<!-- End Microfinancement  -->


<br>&nbsp;

<!-- Start Shop Services Area -->
<section class="shop-services section home">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>Hot Item</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="ti-rocket"></i>
          <h4>Livraison gratuite</h4>
          <p>Commandes de plus de 100 FB</p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="ti-reload"></i>
          <h4>Retour gratuit</h4>
          <p>Retours dans les 30 jours</p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="ti-lock"></i>
          <h4>Paiement sécurisé</h4>
          <p>Paiement 100% sécurisé</p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="ti-tag"></i>
          <h4>Meilleure pièce</h4>
          <p>Prix garanti</p>
        </div>
        <!-- End Single Service -->
      </div>
    </div>
  </div>
</section>
<!-- End Shop Services Area -->
