<!-- Slider Area -->
<section class="hero-slider px-2">

  <div class="single-slider">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-9 offset-lg-3 col-12">
          <div class="text-inner">
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!--/ End Slider Area -->
<!--<br>&nbsp;-->
<!-- Start Product Area -->
<!--<div class="product-area section">
  <div class="container">
    <br>&nbsp;
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h1 class="text-center text-underline text-uppercase">Produits récents</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="product-info">

          <div class="tab-content" id="myTabContent">
            &lt;!&ndash; Start Single Tab &ndash;&gt;
            <div class="tab-pane fade show active" id="man" role="tabpanel">
              <div class="tab-single">
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-4 col-12" *ngFor="let item of products">
                    <div class="single-product img-wrap">
                      <div class="product-img">
                        <a href="/ecommerce/product/detail/{{item?.id}}">
                          <img class="default-img" [src]="item.pictureUrl" alt="#">
                          <img class="hover-img" [src]="item.pictureUrl" alt="#">
                        </a>
                        <div class="button-head">
                          <div class="product-action">
                            <a  title="Quick View" href="/ecommerce/product/detail/{{item?.id}}"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                            &lt;!&ndash; <a type="button"  *ngIf="!isProductSelected(item)" (click)="addToCart(item)" title="Add to cart" ><i class="fa fa-shopping-bag"></i><span>Add to cart</span>&nbsp;</a> &ndash;&gt;

                          </div>
                          <div class="product-action-2">
                          </div>
                        </div>
                      </div>
                      <div class="product-content">
                        <h3 class="title"><a href="/ecommerce/product/detail/{{item?.id}}">{{item?.name}}</a></h3>
                        <div class="product-price">
                          <p class="price with-discount">{{item?.price+' '+item?.devise}}</p>
                          <span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<!-- End Product Area -->

<!--<br>&nbsp;-->

<!-- Start Coaching  -->
<!--<section class="shop-blog section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h1 class="text-center text-underline text-uppercase">Encadrements et Coaching</h1>
        </div>
      </div>
    </div>
    <br>&nbsp;
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12" *ngFor="let coaching of coachings">
        &lt;!&ndash; Start Single Blog  &ndash;&gt;
        <a href="/ecommerce/coaching/detail/{{coaching?.id}}" class="shop-single-blog">
              <img [src]="coaching.logo" style="height: 300px;" alt="#">
          <div class="content">
            <p class="date">{{coaching?.startDate}}</p>
            <p class="title">{{coaching?.title}}</p>
            <p class="more-btn">{{coaching?.amount+' '+item.devise}}</p>
          </div>
        </a>
        &lt;!&ndash; End Single Blog  &ndash;&gt;
      </div>
    </div>
  </div>
</section>-->
<!-- End Coaching  -->

<!-- Start Microfinancement -->
<!--<section class="shop-blog section">
  <div class="container">

    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h1 class="text-center text-underline text-uppercase">Micros-credits</h1>
        </div>
      </div>
    </div>
    <br>&nbsp;
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12" *ngFor="let m of microfinances">
        &lt;!&ndash; Start Single Blog  &ndash;&gt;
        <div class="shop-single-blog">
          <a href="#">
            <img src="https://via.placeholder.com/170x100.png" alt="#">
          </a>
          <div class="card-body text-left">
            <p class="title">{{m?.object}}</p>
            <div class="card-text">
              <p>Secteur d'activite: <span class="text-muted">{{m?.sector}}</span></p>
            </div>
            <div class="card-text">
              <p>Localisation : <span class="text-muted">{{m?.region}}</span></p>
            </div>
          </div>
        </div>
        &lt;!&ndash; End Single Blog  &ndash;&gt;
      </div>
    </div>
  </div>
</section>-->
<!-- End Microfinancement  -->


<!--<br>&nbsp;-->

<!-- Start Shop Services Area -->
<section class="shop-services section home">
  <div class="container">

    <!--<div class="row">
      <div class="col-12">
        <div class="section-title">
          <h1 class="text-center text-underline text-uppercase">Temoignages</h1>
        </div>
      </div>
    </div>-->
    <br>&nbsp;
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12">
        <div class="single-service">
          <i class="ti-rocket"></i>
          <h4>Commmerce et services</h4>
          <p>renseignez-vous et accédez aux produits/services près de chez vous</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="single-service">
          <i class="ti-reload"></i>
          <h4>Encadremment et Coaching</h4>
          <p>bourses d'études, services de formation et de coaching pret de chez vous</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="single-service">
          <i class="ti-lock"></i>
          <h4>investir dans la jeunesse</h4>
          <p>Économisez avec Sayangana et soutenez les jeunes entrepreneurs et étudiants avec des prêts</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="single-service">
          <i class="ti-tag"></i>
          <h4>demander un prêt entreprise ou étudiant</h4>
          <p>Pitch aux investisseurs près de chez vous</p>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- End Shop Services Area -->


<section class=" section home">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-7 mx-auto text-center">
        <span  style="font-size: 25px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Donnez Votre avis</span>
          <div class="card-body p-4">
            <form [formGroup]="temoignageForm" (submit)="saveTemoignage()">
              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                  </div>
                  <input type="text" class="form-control" formControlName="name" placeholder="Entrer votre nom" />
                </div>
              </div>
              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="pi pi-envelope "></i></span>
                  </div>
                  <input type="email" class="form-control" formControlName="email" placeholder="Entrer votre adresse email" />
                </div>
              </div>

              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-pencil "></i></span>
                  </div>
                  <textarea type="text"  rows="5" class="form-control" placeholder="Entrer votre commentaire " formControlName="message">
                  </textarea >
                </div>
              </div>

              <button type="submit" class="btn btn-block btn-success" >Valider</button>
            </form>
          </div>
      </div>
    </div>

  </div>

</section>


<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>

<!-- TOAST MESSAGE TEMPLATE -->
<p-toast position="top-right"></p-toast>
<p-toast position="bottom-center" key="c" (onClose)="onReject()" >
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6">
          <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
        </div>
        <div class="p-col-6">
          <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
