<!-- Slider Area -->
<section class="hero-slider px-2">
  <!-- Single Slider -->
  <div class="single-slider">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-9 offset-lg-3 col-12">
          <div class="text-inner">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Single Slider -->
</section>
<!--/ End Slider Area -->
<br>&nbsp;
<!-- Start Product Area -->
<div class="product-area section">
  <div class="container">
    <!-- Start Link to pages Area -->
    <div class="row">
      <a href="ecommerce/produits" class="btn btn-outline-warning col-12 col-lg-2 col-md-6">
        <div class="section-title">
          <h3 class="text-center">Tous les produits</h3>
        </div>
      </a>
      <a href="ecommerce/services" class="btn btn-outline-warning col-12 col-lg-3 col-md-6">
        <div class="section-title">
          <h3 class="text-center">Tous les services et coachings</h3>
        </div>
      </a>
      <a href="ecommerce/finances" class="btn btn-outline-warning col-12 col-lg-4 col-md-6">
        <div class="section-title">
          <h3 class="text-center">Trouvez vos micros-financements</h3>
        </div>
      </a>
      <a href="signup" class="btn btn-outline-warning col-12 col-lg-2 col-md-6">
        <div class="section-title">
          <h3 class="text-center">Enregistrez-vous</h3>
        </div>
      </a>
    </div>
    <!-- End Link to pages Area -->
    <br>&nbsp;
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h1 class="text-center text-underline text-uppercase">Quelques produits récents</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="product-info">

          <div class="tab-content" id="myTabContent">
            <!-- Start Single Tab -->
            <div class="tab-pane fade show active" id="man" role="tabpanel">
              <div class="tab-single">
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-4 col-12" *ngFor="let item of products">
                    <div class="single-product img-wrap">
                      <div class="product-img">
                        <a href="/ecommerce/product/detail/{{item?.id}}">
                          <img class="default-img" [src]="item.pictureUrl" alt="#">
                          <img class="hover-img" [src]="item.pictureUrl" alt="#">
                        </a>
                        <div class="button-head">
                          <div class="product-action">
                            <a  title="Quick View" href="/ecommerce/product/detail/{{item?.id}}"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                            <!-- <a type="button"  *ngIf="!isProductSelected(item)" (click)="addToCart(item)" title="Add to cart" ><i class="fa fa-shopping-bag"></i><span>Add to cart</span>&nbsp;</a> -->

                          </div>
                          <div class="product-action-2">
                          </div>
                        </div>
                      </div>
                      <div class="product-content">
                        <h3 class="title"><a href="/ecommerce/product/detail/{{item?.id}}">{{item?.name}}</a></h3>
                        <div class="product-price">
                          <p class="price with-discount">FB {{item?.price}}</p>
                          <span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/ End Single Tab -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Product Area -->

<br>&nbsp;

<!-- Start Coaching  -->
<section class="shop-blog section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h1 class="text-center text-underline text-uppercase">Services d'encadrement et de Coaching</h1>
        </div>
      </div>
    </div>
    <br>&nbsp;
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12" *ngFor="let coaching of coachings">
        <!-- Start Single Blog  -->
        <a href="/ecommerce/coaching/detail/{{coaching?.id}}" class="shop-single-blog">
              <img [src]="coaching.logo" style="height: 300px;" alt="#">
          <div class="content">
            <p class="date">{{coaching?.startDate}}</p>
            <p class="title">{{coaching?.title}}</p>
            <p class="more-btn">{{'FB '+coaching?.amount}}</p>
          </div>
        </a>
        <!-- End Single Blog  -->
      </div>
    </div>
  </div>
</section>
<!-- End Coaching  -->

<!-- Start Microfinancement -->
<section class="shop-blog section">
  <div class="container">

    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h1 class="text-center text-underline text-uppercase">Accedez a des Micros-credits</h1>
        </div>
      </div>
    </div>
    <br>&nbsp;
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12" *ngFor="let m of microfinances">
        <!-- Start Single Blog  -->
        <div class="shop-single-blog">
          <a href="#">
            <img src="https://via.placeholder.com/370x300" alt="#">
          </a>
          <div class="content">
            <a href="#" class="title">{{m?.intitule}}</a>
            <a href="#" class="title">{{m?.secteurActivite}}</a>
            <p class="price">{{m?.amount}}</p>
            <a href="#" class="more-btn">{{m?.bankName}}</a>
            <a href="#" class="more-btn">{{m?.region}}</a>
          </div>
        </div>
        <!-- End Single Blog  -->
      </div>
    </div>
  </div>
</section>
<!-- End Microfinancement  -->


<br>&nbsp;

<!-- Start Shop Services Area -->
<section class="shop-services section home">
  <div class="container">

    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h1 class="text-center text-underline text-uppercase">Temoignages</h1>
        </div>
      </div>
    </div>
    <br>&nbsp;
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="ti-rocket"></i>
          <h4>Livraison gratuite</h4>
          <p>Commandes de plus de 100 FB</p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="ti-reload"></i>
          <h4>Retour gratuit</h4>
          <p>Retours dans les 30 jours</p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="ti-lock"></i>
          <h4>Paiement sécurisé</h4>
          <p>Paiement 100% sécurisé</p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="ti-tag"></i>
          <h4>Meilleure pièce</h4>
          <p>Prix garanti</p>
        </div>
        <!-- End Single Service -->
      </div>
    </div>
  </div>
</section>
<!-- End Shop Services Area -->
