.price{
  color: #F7941D;
}

/*
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(1, 30, 34);
  font-family: sans-serif
}

.container {
  max-width: 950px
}

.card {
  border-radius: 1rem;
  box-shadow: 0px -10px 0px rgb(247, 148, 29)
}

@media(max-width:767px) {
  .card {
    margin: 1rem 0.7rem 1rem;
    max-width: 80vw
  }
}

img {
  width: 6.2rem;
  border-radius: 5rem;
  margin: 1.3rem auto 1rem auto
}

.col-md-4 {
  padding: 0 0.5rem
}

.card-title {
  font-size: 1rem;
  margin-bottom: 0;
  font-weight: bold;
  font-family: 'IM Fell French Canon SC'
}

.card-text {
  text-align: center;
  padding: 1rem 2rem;
  font-size: 0.8rem;
  color: rgb(82, 81, 81);
  line-height: 1.4rem
}

.footer {
  border-top: none;
  text-align: center;
  line-height: 1.2rem;
  padding: 2rem 0 1.4rem 0;
  font-family: 'Varela Round'
}

#name {
  font-size: 0.8rem;
  font-weight: bold
}

#position {
  font-size: 0.7rem
}

a {
  color: rgb(151, 248, 6);
  font-weight: bold
}

a:hover {
  color: rgb(151, 248, 6)
}*/

body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background: linear-gradient(#01579B, #03A9F4);
  background-repeat: no-repeat
}

.card-main {
  padding: 50px;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0px 4px 8px 0px #283593
}

.card-0 {
  color: #fff;
  background-color: #536DFE;
  position: relative;
  margin-left: 70px;
  border-radius: 10px;
  min-height: 312px
}

.carousel-indicators li {
  cursor: pointer;
  border-radius: 50% !important;
  width: 10px;
  height: 10px
}

.profile {
  color: #000;
  background-color: #FFD54F;
  position: absolute;
  left: -70px;
  top: 17%;
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px
}

.open-quotes {
  margin-left: 130px;
  margin-top: 100px
}

.content {
  margin-left: 150px;
  margin-right: 80px
}

.close-quotes {
  margin-bottom: 100px;
  margin-right: 60px
}

@media screen and (max-width: 600px) {
  .card-main {
    padding: 50px 10px
  }

  .card-0 {
    min-height: 432px
  }

  .profile {
    top: 24%
  }

  .profile-pic {
    width: 90px;
    height: 90px
  }

  .open-quotes {
    margin-left: 100px
  }

  .content {
    margin-left: 120px;
    margin-right: 50px
  }

  .close-quotes {
    margin-right: 30px
  }
}
