<app-admin-sidebar></app-admin-sidebar>
<div class="main-content">
  <!-- Top navbar -->
  <app-admin-navbar></app-admin-navbar>
  <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <h2>Dashboard</h2>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0" style="background-color:#F45B3A;">
            <div class="row mb-3">
              <div class="col-md-6 col-lg-4 col-12">
                <button (click)="showProvinceSearch(contentProvinceSearch)"  pButton  style="float:left;background-color:#F7941D;" label="Quantité de Produits Disponible"><i class="fa fa-search"></i>&nbsp;</button>
              </div>
              <div class="col-md-6 col-lg-6 col-12">
                <button (click)="showCoachingSearch(contentProvinceSearch2)" pButton  style="float:left;background-color:#F7941D;" label="Quantité de Produit par region"><i class="fa fa-search"></i>&nbsp;</button>
              </div>              
            </div>
          </div>
          <div class="table-responsive">

          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <app-admin-footer></app-admin-footer>
  </div>
</div>




<!-------------------------------------------------------SEARCH BY Quantity product by region and name disponible START------------------------------------------------------------>
<ng-template #contentProvinceSearch let-modal>
  <form [formGroup]="productForm" (submit)="onProductSearch()" >
    <div class="modal-header dark-modal" style="background-color:#F45B3A;">
      <h4 class="modal-title" style="color:whitesmoke">Recherche par rapport a une region et au nom du produit!</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="form-group">
        <label >Province</label>
        <select  class="form-control"   formContrlName="province" >
          <option value="">-- Choisir une province --</option>
          <option value="{{item}}" *ngFor="let item of provinces">{{item}}</option>
        </select>
      </div>

      <div class="form-group">
        <label >Commune</label>
        <select  class="form-control" (click)="selector()"   formControlName="commune"  >
          <option value="">-- Choisir une commune --</option>
          <option value="{{item}}" *ngFor="let item of communes">{{item}}</option>
        </select>
      </div>

      <div class="form-group">
        <label >Categorie </label>
        <select  class="form-control"    formControlName="category"  >
          <option value="">-- Choisir une categorie --</option>
          <option value="{{item}}" *ngFor="let item of categories">{{item}}</option>
        </select>
      </div>
      <div class="form-group">
        <label >Nom du produit </label>
        <select  class="form-control" (click)="namesSelector()"   formControlName="name"  >
          <option value="">-- Choisir un produit --</option>
          <option value="{{item}}" *ngFor="let item of names">{{item}}</option>
        </select>
      </div>

      

    </div>
    <!--<hr class="my-4" style="background-color: salmon;" />-->

    <div class="modal-footer" style="background-color:#F5B669;">
      <div class="row">
        <!-- <div class="col-md-4 "></div> -->
        <div class="col-md-4 ">
          <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Annuler</button>
        </div> &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-md-4 ">
          <button type="submit" class="btn btn-success"
                  (click)=" modal.close('Close click')">Chercher <i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </form>

</ng-template>
<!-------------------------------------------------------SEARCH BY Quantity product by region and name disponible  END-------------------------------------------------------------->

<!-------------------------------------------------------SEARCH BY Quantity coaching by region and title  disponible START------------------------------------------------------------>
<ng-template #contentProvinceSearch2 let-modal>
  <form [formGroup]="coachingForm" (submit)="onCoachingSearch()">
    <div class="modal-header dark-modal" style="background-color:#F45B3A;">
      <h4 class="modal-title" style="color:whitesmoke">Recherche par rapport a une localisation et au titre du coaching!</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="form-group">
        <label >Titre</label>
        <input type="text" class="form-control"   formControlname="title"  >
      </div>

      <div class="form-group">
        <label >Province</label>
        <select  class="form-control"   formContrlName="province" >
          <option value="">-- Choisir une province --</option>
          <option value="{{item}}" *ngFor="let item of provinces">{{item}}</option>
        </select>
      </div>

      <div class="form-group">
        <label >Commune</label>
        <select  class="form-control" (click)="selector()"   formControlName="commune"  >
          <option value="">-- Choisir une commune --</option>
          <option value="{{item}}" *ngFor="let item of communes">{{item}}</option>
        </select>
      </div>


    </div>
    <!--<hr class="my-4" style="background-color: salmon;" />-->

    <div class="modal-footer" style="background-color:#F5B669;">
      <div class="row">
        <!-- <div class="col-md-4 "></div> -->
        <div class="col-md-4 ">
          <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Annuler</button>
        </div> &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-md-4 ">
          <button type="submit" class="btn btn-success"
                  (click)=" modal.close('Close click')">Chercher <i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </form>

</ng-template>
<!-------------------------------------------------------SEARCH BY Quantity coaching by region and title  disponible  END-------------------------------------------------------------->
