.header{
  padding: 5px 20px;
  background: #71cd14;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.title{
  color: aliceblue;
  text-decoration: none;
}

.login,.register{
  float: right;
  text-decoration: none;
  color: aliceblue;
  padding-top: 10px;
}

.logout,.new-post{
  float: right;
  color: aliceblue;
  padding-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.logout:hover, .new-post:hover{
  color: aliceblue;
  text-decoration: none;
}
