<app-header-service></app-header-service>


<!-- Start Shop Blog  -->
<section class="shop-blog section">
  <div class="container">
    <br>&nbsp;
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h1 class="text-center text-uppercase text-underline zigs">Encadrements et Coachings</h1>
        </div>
      </div>
    </div>
    <br>&nbsp;
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12" *ngFor="let coaching of coachings | paginate: {itemsPerPage: 10, currentPage: p}">
        <!-- Start Single Blog  -->
        <div class="shop-single-blog">
          <a href="/ecommerce/coaching/detail/{{coaching?.id}}">
            <img *ngIf="!coaching.logo" src="https://via.placeholder.com/370x300" alt="#">
            <img *ngIf="coaching.logo" [src]="coaching.logo" alt="#">
          </a>
          <div class="content">
            <p class="date">{{coaching?.startDate}}</p>
            <a href="/ecommerce/coaching/detail/{{coaching?.id}}" class="title">{{coaching?.title}}</a>
            <a href="/ecommerce/coaching/detail/{{coaching?.id}}" class="more-btn">{{coaching?.amount+' '+coaching.devise}}</a>
          </div>
        </div>
        <!-- End Single Blog  -->
      </div>
    </div>

    <div class="card-footer py-4">
      <nav aria-label="...">
        <ul class="pagination justify-content-end mb-0">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </ul>
      </nav>
    </div>
  </div>
</section>
<!-- End Shop Blog  -->
<app-footer></app-footer>
