<app-admin-header></app-admin-header>
<div class="my-2">
  <div class="alert-info title card-header  text-center">
    <div class="row">
      <div class="col-md-6">
        <h1>Modification d'un article</h1>
      </div>
      <div class="col-md-6">
        <a href="/administration" class="btn btn-lg"><i class="fa fa-long-arrow-left"></i> Accueil</a>
      </div>
    </div>

  </div>
  <div class="card-body justify-content-center d-flex">
    <form   novalidate (ngSubmit)="onSubmit()" style="width: 80%">
      <div class="form-group">
        <label for="name">Nom de l'article</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="currentProduct.name"  placeholder="Nom de l'article" name="name">
      </div>

      <div class="form-group">
        <label for="montant">Montant</label>
        <input type="number" class="form-control" id="montant" required [(ngModel)]="currentProduct.price"  name="price" placeholder="Montant de votre article">
      </div>
      <div class="form-group">
        <label for="marque">Marque</label>
        <input type="text" class="form-control" id="marque" required [(ngModel)]="currentProduct.marque"  name="marque" placeholder="La marque de votre article">
      </div>
      <div class="form-group">
        <label for="colors">Couleures <span *ngFor="let item of currentProduct.colors">{{item}} </span></label>
        <select  [(ngModel)] ="currentProduct.colors" multiple  name="colors"  id="colors" class="form-control">
          <option value="" disabled>-- Choisir les couleurs disponible de votre article --</option>
          <option value="{{item}}"  *ngFor="let item of colors">{{item}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="categorie">Categorie</label>
        <select  [(ngModel)] ="currentProduct.category"  name="category"  id="categorie" class="form-control">
          <option value="" disabled>-- Choisir une category de votre article --</option>
          <option value="{{item}}" *ngFor="let item of categories">{{item}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="genre">Genre</label>
        <select [(ngModel)]="currentProduct.genre"  name="genre"   id="genre" class="form-control">
          <option value="" disabled>-- Choisir un genre pour votre article --</option>
          <option value="{{item}}" *ngFor="let item of types">{{item}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="quality">Qualite </label>
        <select [(ngModel)]="currentProduct.quality"  name="quality"   id="quality" class="form-control">
          <option value="" disabled>-- Choisir une qualite pour votre article --</option>
          <option value="{{item}}" *ngFor="let item of qualities">{{item}}</option>
        </select>
      </div>
      <div class="form-group">
        <label >Description</label>
        <textarea  class="form-control" [(ngModel)]="currentProduct.description" name="description" id="" rows="4"></textarea>
      </div>
      <br>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6">
            <a href="/administration-detail-product/{{currentProduct.id}}" class="btn btn-secondary" style="width: 100%"><i class="fa fa-long-arrow-left"></i>&nbsp;Retour </a>
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-success"  style="width: 100%">Enregistrer <i class="fa fa-check"></i></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
