
<p-dialog header="Title" [(visible)]="display" modal="modal" [style]="{width: '60vw'}"
          (onHide)="closeFormDialog()" [responsive]="true">
  <form #productForm="ngForm">
    <h5>Article</h5>
    <div class="row">
      <div class="form-group col-md-6">
        <label>Nom de l'article</label>
        <input type="text" class="form-control"[(ngModel)]="product.name" required  placeholder="Nom de l'article" name="name">
      </div>

      <div class="form-group  col-md-6">
        <label>Montant</label>
        <input type="number" class="form-control" [(ngModel)]="product.price"required name="price"  placeholder="Montant de votre article">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label for="categorie">Categorie</label>
        <select  [(ngModel)]="product.category" name="category"  id="categorie" class="form-control">
          <option value="" disabled>&#45;&#45; Choisir une categorie de votre article &#45;&#45;</option>
          <option value="{{item}}" *ngFor="let item of categories">{{item}}</option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label >type</label>
        <select [(ngModel)]="product.type" name="type"  class="form-control">
          <option value="" disabled>&#45;&#45; Choisir un genre pour votre article &#45;&#45;</option>
          <option value="{{item}}" *ngFor="let item of types">{{item}}</option>
        </select>

      </div>

    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="marque">Marque</label>
        <input type="text" class="form-control" id="marque" [(ngModel)]="product.marque" required name="marque"  placeholder="La marque de votre article">
      </div>
      <div class="form-group col-md-6">
        <label>Quantity </label>
        <input type="number" class="form-control"  required [(ngModel)]="product.quantity" name="quantity">

      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label for="marque">Image</label>
        <input type="file" accept="image/*" (change)="onSelectFile($event)">
        <img [src]="imgURL" height="200" *ngIf="imgURL">      </div>
      <div class="form-group col-md-6">
        <label >Description</label>
        <textarea name="description" class="form-control" [(ngModel)]="product.description"  id="" rows="4"></textarea>
      </div>
    </div>
    <br>
    <!--<div class="card-footer">
      <div class="row">
        <div class="col-md-6">
          <button type="button" pButton icon="fa-close" label="Cancel"
                  (click)="closeFormDialog()" class="ui-button-danger"></button>
        </div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-success" style="background-color:#F5B669 !important;width: 100%">Enregistrer <i class="fa fa-check"></i></button>
        </div>
      </div>
    </div>-->
  </form>
  <p-footer>
    <button type="button" pButton icon="fa fa-close" label="Cancel"
            (click)="closeFormDialog()" class="btn btn-danger"></button>
    <button type="button" pButton icon="fa fa-check" label="Enregistrer"
            (click)="onSubmit()" [disabled]="!productForm.form.valid"></button>

  </p-footer>
</p-dialog>
