
 <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div
            class="banner_content d-md-flex justify-content-between align-items-center"
          >
            <div class="mb-3 mb-md-0">
              <h2>Ma commande</h2>
              <p>Finaliser le paiement de votre commande</p>
            </div>
            <div class="page_link">
              <a href="/ecommerce/home">Accueil</a>
              <a href="#">Mes produits</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Cart Area =================-->
    <section class="cart_area">
      <div class="container">
        <div class="cart_inner">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Article</th>
                  <th scope="col">Montant</th>
                  <th scope="col">Quantite</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of orders.productOrders">
                  <td>
                    <div class="media">
                      <div class="d-flex">
                        <img
                          src="{{item.product.pictureUrl}}"
                          alt="" height="70" width="70"
                        />
                      </div>
                      <div class="media-body">
                        <p>{{item.product.name}}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <h5 id="{{item.product.id}}">CDF {{item.product.price}}</h5>
                  </td>
                  <td>
                    <h5><span >{{item.quantity}}</span></h5>
                  </td>
                  <td>
                    <h5>FCFA <span >{{item.product.price}}</span></h5>
                  </td>
                </tr>


                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <h5>Sous total</h5>
                  </td>
                  <td>
                    <h5>FCFA {{sousTotal}}</h5>
                  </td>
                </tr>
                <tr class="shipping_area">
                  <td></td>
                  <td></td>
                  <td>
                    <h5>Livraison</h5>
                  </td>
                  <td>
                    <div class="shipping_box">
                      <ul class="list">

                        <li>
                          <button class="btn" type="button" (click)="livraison(0)">Recuperer a la boutique</button>
                        </li>
                        <li>
                          <button class="btn" type="button"  (click)="livraison(20000)">Livraison a domicile: CDF 20 000</button>
                        </li>
                        <li class="active">
                          <button class="btn" type="button" (click)="livraison(10000)">Livraison dans un point focal: CDF 10 000</button>
                        </li>
                      </ul>

                    </div>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <h5>Total</h5>
                  </td>
                  <td>
                    <h5>FCFA {{total}}</h5>
                  </td>
                </tr>
                <tr class="out_button_area">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <div class="checkout_btn_inner">
                      <a class="gray_btn" href="/">Continuer vos achats</a>
                      <button class="btn" type="button" (click)="pay()">Proceder au paiement</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!--================End Cart Area =================-->
