<app-admin-header></app-admin-header>
<div class=" my-2">
    <div class="alert-info title card-header  text-center">
      <h1>Mes articles</h1>
    </div>
  <div class="container-fluid my-2">
    <div class="row">
      <div class="col-md-6 py-3">
        <a href="/add-product" class="btn btn-primary btn-lg">Nouveau produit</a>
      </div>
      <div class="col-md-6">
        <div class="form-group pull-right" style="width: 50%">
          <label >Recherche <i class="fa fa-search"></i></label>
          <input type="text" class="form-control" [(ngModel)]="searchItem">
        </div>
      </div>
    </div>

  </div>


    <hr>
    <div class="card-text">
      <table class="table table-responsive-md table-bordered">
        <thead class="title">
        <th></th>
        <th>Nom</th>
        <th>Categorie</th>
        <th>Genre</th>
        <th>Montant</th>
        <th>Qualite</th>
        <th>Actions</th>
        </thead>
        <tbody>
        <tr *ngFor="let item of lists | filter:searchItem | paginate: {itemsPerPage: 10, currentPage: p}">
          <td><img src="{{item.pictureUrl}}" alt="" height="70" width="80">
          </td>
          <td>{{item.name}}</td>
          <td>{{item.category}}</td>
          <td>{{item.genre}} </td>
          <td>{{item.price}} CDF</td>
          <td>{{item.quality}} </td>
          <td>
            <a href="/administration-detail-product/{{item.id}}" class="btn btn-success m-1"><i class="fa fa-angle-double-right"></i></a>
            <a href="/administration-update-product/{{item.id}}" class="btn btn-secondary m-1"><i class="fa fa-edit"></i></a>
            <button (click)="deleteProduct(item.id)" class="btn btn-danger m-1"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
