<app-header></app-header>
<section class="hero-slider3 px-2">
  <div class="cantainer">
    <img src="/assets/images/items/bleu.jpeg" alt="Snow" style="width:100%;height: 500px;">

    <div class="centered">
      <h2 class="section-title text-white" style="font: 2rem Roboto, sans-serif;">Investir dans la jeunesse et l'entrepreneuriat, Acceder a des credits pour etudiant et entrepreneur</h2>
      
      <div class="row my-4">
        <div class="col-12 col-md-6 col-xl-6 text-center">
          <h2 class="my-2">Epargner et Investir</h2>
            <div class="product-content my-2">
              <a href="/ecommerce/register/loans?type=investisseur" class="btn btn-block btn-capsul btn-outline-info  "><p class="card-body"> Epargner et Investir <br> dans les etudiants </p></a>
            </div>
            <div class="product-content my-2">
              <a href="/ecommerce/register/loans?type=investisseur" class="btn btn-block btn-capsul btn-outline-info  "><p class="card-body"> Epargner et Investir <br> dans l'entrepreneuriat </p></a>
            </div>
            
        </div>
        <div class="col-12 col-md-6 col-xl-6 text-center">
          <h2 class="my-2">Demander un credit</h2>
            <div class="product-content my-2">
              <a href="/ecommerce/register/entreprener" class="btn btn-block btn-capsul btn-outline-info  "><p class="card-body"> Demander un credit  <br> pour etudiant  </p></a>
            </div>
            <div class="product-content my-2">
              <a href="/ecommerce/register/entreprener" class="btn btn-block btn-capsul btn-outline-info  "><p class="card-body"> Demander un credit  <br> pour un entrepreneur</p></a>
            </div>
            
        </div>
      </div>
    </div>
  </div>

</section>


<!-- End Microfinancement  -->
<app-footer></app-footer>
