<!--================ start footer Area  =================-->
<footer class="footer-area section_gap" >
<div class="container">
    <div class="footer-bottom row align-items-center">
      <p class="footer-text m-0 col-lg-8 col-md-12 zigs" >
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tous Droits reserver | Ce site est une propriete  de <a href="https://solutionafrica.org" class="zigs" target="_blank">Help a Child & Solution Africa</a>

      <div class="col-lg-4 col-md-12 footer-social">
        <a href="#"><i class="fa fa-facebook zigs"></i></a>
        <a href="#"><i class="fa fa-twitter zigs"></i></a>
        <a href="#"><i class="fa fa-dribbble zigs"></i></a>
        <a href="#"><i class="fa fa-behance zigs"></i></a>
      </div>

    </div>
  </div>
</footer>
<!--================ End footer Area  =================-->
