<app-header-finance></app-header-finance>



<section class="hero-slider3 px-2">
  <div class="cantainer">
    <img src="/assets/images/items/bleu.jpeg" alt="Snow" style="width:100%;">

    <div class="centered">
      <h2 class="section-title" style="font: 3em Georgia, serif;">Acceder a un Financement</h2>
      <br>
      <br>
      <div class="position-absolute mid-center">
        <a href="/ecommerce/register/loans?type=etudiant" class=" btn-capsul px-4 py-2"><i class="fa fa-hand-point-right"></i>Demander un credit pour etudiant</a>
      </div>
      <br>
      <br>
      <div class="position-absolute mid-center">
        <a href="/ecommerce/register/entreprener" class="btn-capsul px-4 py-2"><i class="fa fa-hand-point-right"></i>Demander un credit pour un entrepreneur </a>
      </div>

  </div>
  </div>

</section>


<!-- End Microfinancement  -->
<app-footer></app-footer>
