<app-header-finance></app-header-finance>



<section class="hero-slider3 px-2">
  <div class="cantainer">
    <img src="/assets/images/items/bleu.jpeg" alt="Snow" style="width:100%;">

    <div class="centered">
      <h2 class="section-title" style="font: 3em Georgia, serif;">Micro-credit et Financements</h2>

      <div class="position-absolute mid-center">
        <a href="/connexion" class="btn btn-primary btn-capsul px-4 py-2">Demander un prêt étudiant</a>
      </div>
      <br>
      <br>
      <div class="position-absolute mid-center">
        <a href="/connexion" class="btn btn-primary btn-capsul px-4 py-2">Épargner et investir dans les étudiants</a>
      </div>

      <br>
      <br>

      <div class="position-absolute mid-center">
        <a href="/connexion" class="btn btn-primary btn-capsul px-4 py-2">Demander un prêt aux entreprises</a>
      </div>
      <br>
      <br>
      <div class="position-absolute mid-center">
        <a href="/connexion" class="btn btn-primary btn-capsul px-4 py-2">Épargner et investir dans les entrepreneurs</a>
      </div>
    </div>
  </div>

</section>


<!-- End Microfinancement  -->
<app-footer></app-footer>
