.icon-xl {
  width: 5rem;
  height: 5rem;
}

.icon-xl i,
.icon-xl svg {
  font-size: 4.25rem;
}

.icon-xl+.icon-text {
  width: calc(100% - #{$icon-size-xl} - 1);
}

.icon-lg {
  width: 4rem;
  height: 4rem;
}

.icon-lg i,
.icon-lg svg {
  font-size: 3.25rem;
}

.icon-lg+.icon-text {
  width: calc(100% - #{$icon-size-lg} - 1);
}

.icon-sm {
  width: 2rem;
  height: 2rem;
}

.icon-sm i,
.icon-sm svg {
  font-size: 1.25rem;
}

.icon-sm+.icon-text {
  width: calc(100% - #{$icon-size-sm} - 1);
}
